Repository Tencent/ncnn, changes with the labels that .github/labeler.yml gives for each.
All labels: cmake, doc, python, example, test, tool, pnnx, core, layer, arm, loongarch, mips, riscv, vulkan, x86

qqq
  src/layer/x86/convolution_im2col_gemm_int8.h
Labels: x86

Add Windows XP support merging PRs #6176 and #6177 (#6204)
  .github/workflows/windows-xp-clang.yml
  .github/workflows/windows-xp-mingw.yml
  .github/workflows/windows-xp-msvc.yml
  docs/developer-guide/build-ncnn-on-windows-xp.zh.md
  docs/how-to-build/how-to-build.md
  src/cpu.cpp
  src/platform.h.in
  tests/test_cpu.cpp
  toolchains/windows-xp-clang.toolchain.cmake
  toolchains/windows-xp-mingw.toolchain.cmake
  toolchains/windows-xp-msvc.toolchain.cmake
Labels: cmake, doc, test, core

use size_t type for proper large tensor support (#6201)
  src/layer/arm/convolution_3x3_winograd.h
  src/layer/arm/convolution_3x3_winograd_bf16s.h
  src/layer/arm/convolution_3x3_winograd_int8.h
  src/layer/arm/convolution_im2col_gemm.h
  src/layer/arm/convolution_im2col_gemm_bf16s.h
  src/layer/arm/convolution_im2col_gemm_fp16s.h
  src/layer/arm/convolution_packed.h
  src/layer/arm/convolution_packed_bf16s.h
  src/layer/arm/convolution_packed_fp16s.h
  src/layer/arm/convolution_packed_int8.h
  src/layer/arm/gemm_arm.cpp
  src/layer/arm/gemm_arm_asimdhp.cpp
  src/layer/arm/gemm_bf16s.h
  src/layer/arm/gemm_bf16s_fp16s.h
  src/layer/arm/gemm_fp16s.h
  src/layer/arm/gemm_int8.h
  src/layer/arm/gemm_int8_bf16s.h
  src/layer/arm/gemm_int8_fp16s.h
  src/layer/arm/softmax_arm.cpp
  src/layer/arm/softmax_arm_asimdhp.cpp
  src/layer/gemm.cpp
  src/layer/glu.cpp
  src/layer/riscv/gemm_riscv.cpp
  src/layer/riscv/softmax_riscv.cpp
  src/layer/slice.cpp
  src/layer/x86/convolution_3x3_winograd.h
  src/layer/x86/convolution_3x3_winograd_int8.h
  src/layer/x86/convolution_im2col_gemm_int8.h
  src/layer/x86/convolution_packed.h
  src/layer/x86/convolution_packed_int8.h
  src/layer/x86/gemm_int8.h
  src/layer/x86/gemm_x86.cpp
  src/layer/x86/softmax_x86.cpp
Labels: layer, arm, riscv, x86

Fix popcount64 linking issue and improve compatibility
  src/cpu.cpp
Labels: core

Fix NCNN_SIMPLESTL compatibility and improve bit shift safety
  src/cpu.cpp
  src/cpu.h
  src/platform.h.in
Labels: core

Add missing <utility> header for std::pair usage
  src/cpu.cpp
Labels: core

Fix Windows ARM compatibility for popcount64 function
  src/cpu.cpp
Labels: core

Fix aarch64-native simplestl-simplemath compilation
  src/platform.h.in
Labels: core

apply code-format changes
  src/cpu.cpp
  tests/test_cpu_large.cpp
Labels: test, core

Support for >64 CPU systems in NCNN.Fix CMakeLists error.
  tests/CMakeLists.txt
Labels: test

Fix compilation and test issues
  src/cpu.cpp
  src/platform.h.in
Labels: core

Support for >64 CPU systems
  src/cpu.cpp
  src/cpu.h
  tests/CMakeLists.txt
  tests/test_cpu_large.cpp
Labels: test, core

apply code-format changes
  src/cpu.cpp
Labels: core

Fix uint64_t compilation errors and implement >64 CPU support
  src/cpu.cpp
  src/cpu.h
  src/platform.h.in
Labels: core

Support for >64 CPU systems
  64
Labels: none

Recover build scripts
  build-android.cmd
  build.sh
Labels: none

fix vulkan structure definition conflict with VK_KHR_acceleration_structure
  src/vulkan_header_fix.h
Labels: core

fix vulkan structure definition conflict with VK_KHR_acceleration_structure (#6205)
  src/vulkan_header_fix.h
Labels: core

.github/labeler.yml:

cmake:
- changed-files:
  - any-glob-to-any-file: ['cmake/**', 'toolchains/**']

doc: 
- changed-files:
  - any-glob-to-any-file: docs/**

python: 
- changed-files:
  - any-glob-to-any-file: python/**

example: 
- changed-files:
  - any-glob-to-any-file: examples/**

test: 
- changed-files:
  - any-glob-to-any-file: tests/**

tool: 
- changed-files:
  - any-glob-to-any-file: tools/**
pnnx: 
- changed-files:
  - any-glob-to-any-file: tools/pnnx/**

core: 
- changed-files:
  - any-glob-to-any-file: src/*
layer: 
- changed-files:
  - any-glob-to-any-file: src/layer/*

arm: 
- changed-files:
  - any-glob-to-any-file: src/layer/arm/**
loongarch: 
- changed-files:
  - any-glob-to-any-file: src/layer/loongarch/**
mips: 
- changed-files:
  - any-glob-to-any-file: src/layer/mips/**
riscv: 
- changed-files:
  - any-glob-to-any-file: src/layer/riscv/**
vulkan: 
- changed-files:
  - any-glob-to-any-file: src/layer/vulkan/**
x86: 
- changed-files:
  - any-glob-to-any-file: src/layer/x86/**
