Repository Tencent/ncnn, changes with the labels that .github/labeler.yml gives for each.
All labels: cmake, doc, python, example, test, tool, pnnx, core, layer, arm, loongarch, mips, riscv, vulkan, x86

f
  src/layer/vulkan/shader/requantize_pack8.comp
  tests/testutil.cpp
Labels: test, vulkan

sanitize
  src/gpu.cpp
Labels: core

vulkan int8 packing quantize dequantize requantize (#3731)
  src/allocator.cpp
  src/command.cpp
  src/gpu.cpp
  src/gpu.h
  src/layer/packing.h
  src/layer/vulkan/dequantize_vulkan.cpp
  src/layer/vulkan/dequantize_vulkan.h
  src/layer/vulkan/packing_vulkan.cpp
  src/layer/vulkan/quantize_vulkan.cpp
  src/layer/vulkan/quantize_vulkan.h
  src/layer/vulkan/requantize_vulkan.cpp
  src/layer/vulkan/requantize_vulkan.h
  src/layer/vulkan/shader/dequantize.comp
  src/layer/vulkan/shader/dequantize_pack4.comp
  src/layer/vulkan/shader/dequantize_pack8.comp
  src/layer/vulkan/shader/packing_int8.comp
  src/layer/vulkan/shader/packing_pack1to4_int8.comp
  src/layer/vulkan/shader/packing_pack1to8_int8.comp
  src/layer/vulkan/shader/packing_pack4to1_int8.comp
  src/layer/vulkan/shader/packing_pack4to8_int8.comp
  src/layer/vulkan/shader/packing_pack8to1_int8.comp
  src/layer/vulkan/shader/packing_pack8to4_int8.comp
  src/layer/vulkan/shader/quantize.comp
  src/layer/vulkan/shader/quantize_pack4.comp
  src/layer/vulkan/shader/quantize_pack8.comp
  src/layer/vulkan/shader/requantize.comp
  src/layer/vulkan/shader/requantize_pack4.comp
  src/layer/vulkan/shader/requantize_pack8.comp
  src/net.cpp
  tests/test_dequantize.cpp
  tests/test_packing.cpp
  tests/test_quantize.cpp
  tests/test_quantize_oom.cpp
  tests/testutil.cpp
Labels: test, core, layer, vulkan

Update cpu.cpp
  src/cpu.cpp
Labels: core

Use platform-specific APIs for environment variables (#6147)
  src/cpu.cpp
Labels: core

compute-only vulkan (#6131)
  src/gpu.cpp
  src/gpu.h
Labels: core

hah
  src/layer/vulkan/convolution_vulkan.cpp
  src/layer/vulkan/shader/convolution_1x1s1d1_cm.comp
Labels: vulkan

w
  src/layer/vulkan/convolution_vulkan.cpp
  src/layer/vulkan/shader/convolution_1x1s1d1_cm.comp
Labels: vulkan

helper function for selecting the optimal coopmat mnk size
  src/gpu.cpp
  src/gpu.h
Labels: core

apply code-format changes
  src/gpu.cpp
Labels: core

fallback to acctype fp32, fix hardcode
  src/gpu.cpp
  src/layer/vulkan/convolution_vulkan.cpp
Labels: core, vulkan

unroll m n
  src/layer/vulkan/convolution_vulkan.cpp
  src/layer/vulkan/shader/convolution_1x1s1d1_cm.comp
Labels: vulkan

transpose
  src/layer/vulkan/convolution_vulkan.cpp
  src/layer/vulkan/shader/convolution_1x1s1d1_cm.comp
Labels: vulkan

spdx license header
  src/allocator.cpp
Labels: core

s
  src/layer/vulkan/convolution_vulkan.cpp
  src/layer/vulkan/shader/convolution_1x1s1d1_cm.comp
Labels: vulkan

s
  src/layer/vulkan/convolution_vulkan.cpp
  src/layer/vulkan/shader/convolution_1x1s1d1_cm.comp
Labels: vulkan

apply code-format changes
  src/layer/vulkan/convolution_vulkan.cpp
Labels: vulkan

unroll
  src/layer/vulkan/shader/convolution_1x1s1d1_cm.comp
Labels: vulkan

s
  src/layer/vulkan/shader/convolution_1x1s1d1_cm.comp
Labels: vulkan

optimize load store
  src/layer/vulkan/convolution_vulkan.cpp
  src/layer/vulkan/shader/convolution_1x1s1d1_cm.comp
Labels: vulkan

opt++
  src/layer/vulkan/shader/convolution_1x1s1d1_cm.comp
Labels: vulkan

transpose mn, opt++
  src/layer/vulkan/convolution_vulkan.cpp
  src/layer/vulkan/shader/convolution_1x1s1d1_cm.comp
Labels: vulkan

q
  src/layer/vulkan/shader/convolution_1x1s1d1_cm.comp
Labels: vulkan

f
  src/layer/vulkan/shader/convolution_1x1s1d1_cm.comp
Labels: vulkan

s
  src/layer/vulkan/convolution_vulkan.cpp
  src/layer/vulkan/shader/convolution_1x1s1d1_cm.comp
Labels: vulkan

f
  src/layer/vulkan/convolution_vulkan.cpp
Labels: vulkan

q
  src/layer/vulkan/convolution_vulkan.cpp
  src/layer/vulkan/shader/convolution_1x1s1d1_cm.comp
Labels: vulkan

unroll k
  src/layer/vulkan/convolution_vulkan.cpp
  src/layer/vulkan/shader/convolution_1x1s1d1_cm.comp
Labels: vulkan

d
  src/layer/vulkan/convolution_vulkan.cpp
  src/layer/vulkan/shader/convolution_pack4_1x1s1d1_cm_16_16_16.comp
  src/layer/vulkan/shader/convolution_pack4_1x1s1d1_cm_16_8_8.comp
Labels: vulkan

q
  src/layer/vulkan/shader/convolution_1x1s1d1_cm.comp
Labels: vulkan

q
  src/layer/vulkan/shader/convolution_1x1s1d1_cm.comp
Labels: vulkan

add lsx optimization for trigonometric functions
  src/layer/loongarch/lsx_mathfun.h
Labels: loongarch

o
  src/layer/vulkan/shader/convolution_1x1s1d1_cm.comp
Labels: vulkan

cost
  src/layer/vulkan/convolution_vulkan.cpp
Labels: vulkan

add lasx optimization for trigonometric functions
  src/layer/loongarch/lasx_mathfun.h
Labels: loongarch

stash
  src/layer/vulkan/convolution_vulkan.cpp
  src/layer/vulkan/shader/convolution_1x1s1d1_cm.comp
Labels: vulkan

apply code-format changes
  src/layer/vulkan/convolution_vulkan.cpp
Labels: vulkan

s
  src/layer/vulkan/convolution_vulkan.cpp
  src/layer/vulkan/shader/convolution_1x1s1d1_cm.comp
Labels: vulkan

apply code-format changes
  src/layer/vulkan/convolution_vulkan.cpp
Labels: vulkan

cc
  src/layer/vulkan/shader/convolution_1x1s1d1_cm.comp
Labels: vulkan

.github/labeler.yml:

cmake:
- changed-files:
  - any-glob-to-any-file: ['cmake/**', 'toolchains/**']

doc: 
- changed-files:
  - any-glob-to-any-file: docs/**

python: 
- changed-files:
  - any-glob-to-any-file: python/**

example: 
- changed-files:
  - any-glob-to-any-file: examples/**

test: 
- changed-files:
  - any-glob-to-any-file: tests/**

tool: 
- changed-files:
  - any-glob-to-any-file: tools/**
pnnx: 
- changed-files:
  - any-glob-to-any-file: tools/pnnx/**

core: 
- changed-files:
  - any-glob-to-any-file: src/*
layer: 
- changed-files:
  - any-glob-to-any-file: src/layer/*

arm: 
- changed-files:
  - any-glob-to-any-file: src/layer/arm/**
loongarch: 
- changed-files:
  - any-glob-to-any-file: src/layer/loongarch/**
mips: 
- changed-files:
  - any-glob-to-any-file: src/layer/mips/**
riscv: 
- changed-files:
  - any-glob-to-any-file: src/layer/riscv/**
vulkan: 
- changed-files:
  - any-glob-to-any-file: src/layer/vulkan/**
x86: 
- changed-files:
  - any-glob-to-any-file: src/layer/x86/**
