Repository Tencent/ncnn, changes with the labels that .github/labeler.yml gives for each.
All labels: cmake, doc, python, example, test, tool, pnnx, core, layer, arm, loongarch, mips, riscv, vulkan, x86

.github/labeler.yml:

cmake:
- changed-files:
  - any-glob-to-any-file: ['cmake/**', 'toolchains/**']

doc: 
- changed-files:
  - any-glob-to-any-file: docs/**

python: 
- changed-files:
  - any-glob-to-any-file: python/**

example: 
- changed-files:
  - any-glob-to-any-file: examples/**

test: 
- changed-files:
  - any-glob-to-any-file: tests/**

tool: 
- changed-files:
  - any-glob-to-any-file: tools/**
pnnx: 
- changed-files:
  - any-glob-to-any-file: tools/pnnx/**

core: 
- changed-files:
  - any-glob-to-any-file: src/*
layer: 
- changed-files:
  - any-glob-to-any-file: src/layer/*

arm: 
- changed-files:
  - any-glob-to-any-file: src/layer/arm/**
loongarch: 
- changed-files:
  - any-glob-to-any-file: src/layer/loongarch/**
mips: 
- changed-files:
  - any-glob-to-any-file: src/layer/mips/**
riscv: 
- changed-files:
  - any-glob-to-any-file: src/layer/riscv/**
vulkan: 
- changed-files:
  - any-glob-to-any-file: src/layer/vulkan/**
x86: 
- changed-files:
  - any-glob-to-any-file: src/layer/x86/**

Fix win32 GetLogicalProcessorInformationEx API (#6169)
  src/cpu.cpp
Labels: core

feat: add cmake print ver support (#6165)
  cmake/ncnnConfig.cmake.in
  src/CMakeLists.txt
Labels: cmake, core

Update src/layer/vulkan/shader/sigmoid.comp
  src/layer/vulkan/shader/sigmoid.comp
Labels: vulkan

Update src/layer/vulkan/sigmoid_vulkan.cpp
  src/layer/vulkan/sigmoid_vulkan.cpp
Labels: vulkan

Update src/layer/vulkan/sigmoid_vulkan.h
  src/layer/vulkan/sigmoid_vulkan.h
Labels: vulkan

vulkan sigmoid unified elempack shader (#6170)
  src/layer/vulkan/shader/sigmoid.comp
  src/layer/vulkan/shader/sigmoid_pack4.comp
  src/layer/vulkan/shader/sigmoid_pack8.comp
  src/layer/vulkan/sigmoid_vulkan.cpp
  src/layer/vulkan/sigmoid_vulkan.h
Labels: vulkan

coopmat members
  src/layer/vulkan/convolution_vulkan.cpp
  src/layer/vulkan/convolution_vulkan.h
Labels: vulkan

删除glsl文档中对image-functions的说明
  docs/developer-guide/glsl-extension.md
Labels: doc

删除glsl文档中对image format and precision hint type的说明
  docs/developer-guide/glsl-extension.md
Labels: doc

删除glsl文档中对option-macros下对declare descriptor binding for image or buffer的说明
  docs/developer-guide/glsl-extension.md
Labels: doc

同步更新glsl.zh文档
  docs/developer-guide/glsl-extension.zh.md
Labels: doc

Update glsl-extension.zh.md
  docs/developer-guide/glsl-extension.zh.md
Labels: doc

Add Windows XP support
  src/platform.h.in
  tests/test_cpu.cpp
Labels: test, core

Add windows xp mingw toolchain file
  toolchains/windows-xp-mingw.toolchain.cmake
Labels: cmake

Add windows xp clang toolchain file
  toolchains/windows-xp-clang.toolchain.cmake
Labels: cmake

clang workaround
  src/layer/binaryop.cpp
  src/layer/x86/binaryop_x86.cpp
Labels: layer, x86

Add windows xp msvc toolchain file
  toolchains/windows-xp-msvc.toolchain.cmake
Labels: cmake

mod
  src/layer/vulkan/shader/convolution_1x1s1d1_cm.comp
Labels: vulkan

Add windows xp mingw workflow
  .github/workflows/windows-xp-mingw.yml
Labels: none

apply code-format changes
  src/layer/vulkan/elu_vulkan.cpp
Labels: vulkan

vulkan dropout unified elempack shader
  src/layer/vulkan/dropout_vulkan.cpp
  src/layer/vulkan/dropout_vulkan.h
  src/layer/vulkan/shader/dropout.comp
  src/layer/vulkan/shader/dropout_pack4.comp
  src/layer/vulkan/shader/dropout_pack8.comp
Labels: vulkan

Add support for Windows XP (x86)
  .github/workflows/windows-xp.yml
  docs/developer-guide/build-ncnn-on-windows-xp.zh.md
  docs/how-to-build/how-to-build.md
  src/CMakeLists.txt
  src/platform.h.in
  toolchains/windows-xp.toolchain.cmake
Labels: cmake, doc, core

About the update to the GLSL documentation after the image functions are deprecated (#6173)
  docs/developer-guide/glsl-extension.md
  docs/developer-guide/glsl-extension.zh.md
Labels: doc

Add windows xp clang workflow
  .github/workflows/windows-xp-clang.yml
Labels: none

Fix Windows XP CI workflow
  .github/workflows/windows-xp.yml
  docs/how-to-build/how-to-build.md
Labels: doc

Fix Windows XP CI: Update verification for MinGW Makefiles
  .github/workflows/windows-xp.yml
Labels: none

Fix Windows XP CI: Update verification for MinGW Makefiles
  .github/workflows/windows-xp.yml
Labels: none

Edited toolchain and added MSVC toolchain
  .github/workflows/windows-xp.yml
  docs/how-to-build/how-to-build.md
  src/CMakeLists.txt
  src/platform.h.in
  toolchains/windows-xp-msvc.toolchain.cmake
Labels: cmake, doc, core

feat: shader compress
  CMakeLists.txt
  cmake/ncnn_add_shader.cmake
  cmake/ncnn_generate_shader_comp_header.cmake
  src/CMakeLists.txt
  src/gpu.cpp
  src/layer/vulkan/shader/shader_compress_dict.in
  src/platform.h.in
Labels: cmake, core, vulkan

apply code-format changes
  src/gpu.cpp
Labels: core

Fixed typo in docs/developer-guide/build-ncnn-on-windows-xp.zh.md
  docs/developer-guide/build-ncnn-on-windows-xp.zh.md
Labels: doc

fix merge conflict
  src/layer/vulkan/shader/sigmoid.comp
Labels: vulkan

add sigmoid_vulkan.h end blank
  src/layer/vulkan/sigmoid_vulkan.h
Labels: vulkan

add sigmoid_vulkan.h end blank
  src/layer/vulkan/sigmoid_vulkan.cpp
Labels: vulkan

Fix Windows XP workflow (ci tests)
  .github/workflows/windows-xp.yml
Labels: none

Skip int8 model on GPU and merge from upstream
  benchmark/benchncnn.cpp
Labels: none

Fix typo in .github/workflows/windows-xp-clang.yml
  .github/workflows/windows-xp-clang.yml
Labels: none

Skip int8 model on GPU and merge from upstream (#6174)
  benchmark/benchncnn.cpp
Labels: none

OpenCV Path are not used here
  toolchains/windows-xp-clang.toolchain.cmake
  toolchains/windows-xp-mingw.toolchain.cmake
Labels: cmake

Fix windows xp clang workflow
  .github/workflows/windows-xp-clang.yml
  toolchains/windows-xp-clang.toolchain.cmake
Labels: cmake
