Repository Tencent/ncnn, changes with the labels that .github/labeler.yml gives for each.
All labels: cmake, doc, python, example, test, tool, pnnx, core, layer, arm, loongarch, mips, riscv, vulkan, x86

.github/labeler.yml:

cmake:
- changed-files:
  - any-glob-to-any-file: ['cmake/**', 'toolchains/**']

doc: 
- changed-files:
  - any-glob-to-any-file: docs/**

python: 
- changed-files:
  - any-glob-to-any-file: python/**

example: 
- changed-files:
  - any-glob-to-any-file: examples/**

test: 
- changed-files:
  - any-glob-to-any-file: tests/**

tool: 
- changed-files:
  - any-glob-to-any-file: tools/**
pnnx: 
- changed-files:
  - any-glob-to-any-file: tools/pnnx/**

core: 
- changed-files:
  - any-glob-to-any-file: src/*
layer: 
- changed-files:
  - any-glob-to-any-file: src/layer/*

arm: 
- changed-files:
  - any-glob-to-any-file: src/layer/arm/**
loongarch: 
- changed-files:
  - any-glob-to-any-file: src/layer/loongarch/**
mips: 
- changed-files:
  - any-glob-to-any-file: src/layer/mips/**
riscv: 
- changed-files:
  - any-glob-to-any-file: src/layer/riscv/**
vulkan: 
- changed-files:
  - any-glob-to-any-file: src/layer/vulkan/**
x86: 
- changed-files:
  - any-glob-to-any-file: src/layer/x86/**

Add 64-cor-pluse CPU support for Windows system
  src/cpu.cpp
  src/cpu.h
Labels: core

apply code-format changes
  src/cpu.cpp
  src/cpu.h
Labels: core

feat: improve robustness enhancements for Win and Linux platforms
  src/cpu.cpp
  src/cpu.h
Labels: core

apply code-format changes
  src/cpu.cpp
Labels: core

fix: error cpp marco and bad cmakelists
  CMakeLists.txt
  cmake/ncnn_add_shader.cmake
  src/gpu.cpp
Labels: cmake, core

fix: remove cmake warning
  cmake/ncnn_generate_shader_comp_header.cmake
Labels: cmake

Merge pull request #1 from JaredforReal/SupportWin
  src/cpu.cpp
  src/cpu.h
  tests/CMakeLists.txt
  tests/test_multicpu.cpp
Labels: test, core

cc
  src/layer/vulkan/shader/convolution_1x1s1d1_cm.comp
Labels: vulkan

cc
  src/layer/vulkan/shader/convolution_1x1s1d1_cm.comp
Labels: vulkan

s
  src/layer/vulkan/convolution_vulkan.cpp
Labels: vulkan

fixed some problems
  src/cpu.cpp
Labels: core

Add a small test with some specific cores (by defined not for real)
  build-android.cmd
  build.sh
  tests/CMakeLists.txt
  tests/test_ncnn_cpu_cores.cpp
Labels: test

apply code-format changes
  src/cpu.cpp
  src/cpu.h
  tests/test_ncnn_cpu_cores.cpp
Labels: test, core

flexible coopmat mnk and unified elempack for vulkan convolution 1x1s1d1 (#6154)
  src/gpu.cpp
  src/gpu.h
  src/layer/vulkan/convolution_vulkan.cpp
  src/layer/vulkan/convolution_vulkan.h
  src/layer/vulkan/shader/convolution_1x1s1d1_cm.comp
  src/layer/vulkan/shader/convolution_pack4_1x1s1d1_cm_16_16_16.comp
  src/layer/vulkan/shader/convolution_pack4_1x1s1d1_cm_16_8_8.comp
Labels: core, vulkan

Support for >64 CPU systems in NCNN.Fix CMakeLists error.
  tests/CMakeLists.txt
Labels: test

CMake: Force enable MSVC multi-processor build (/MP)
  CMakeLists.txt
Labels: none

flexible coopmat mnk and unified elempack for vulkan convolution gemm
  src/layer/vulkan/convolution_vulkan.cpp
  src/layer/vulkan/shader/convolution_gemm_cm.comp
  src/layer/vulkan/shader/convolution_pack4_gemm_cm_16_16_16.comp
  src/layer/vulkan/shader/convolution_pack4_gemm_cm_16_8_8.comp
Labels: vulkan

cc
  src/layer/vulkan/convolution_vulkan.cpp
Labels: vulkan

cc
  src/layer/vulkan/convolution_vulkan.cpp
Labels: vulkan

fp16p cm
  src/layer/vulkan/convolution_vulkan.cpp
Labels: vulkan

flexible coopmat mnk and unified elempack for vulkan convolution gemm (#6192)
  src/layer/vulkan/convolution_vulkan.cpp
  src/layer/vulkan/shader/convolution_gemm_cm.comp
  src/layer/vulkan/shader/convolution_pack4_gemm_cm_16_16_16.comp
  src/layer/vulkan/shader/convolution_pack4_gemm_cm_16_8_8.comp
Labels: vulkan

Support win (#3)
  src/cpu.cpp
  src/cpu.h
  tests/CMakeLists.txt
  tests/test_multicpu.cpp
Labels: test, core

Fix uint64_t compilation errors and implement >64 CPU support
  src/cpu.cpp
  src/cpu.h
  src/platform.h.in
Labels: core

Fix uint64_t compilation errors and implement >64 CPU support
  src/cpu.cpp
  src/cpu.h
  src/platform.h.in
Labels: core

apply code-format changes
  src/cpu.cpp
  tests/test_cpu_large.cpp
Labels: test, core

Add missing <utility> header for std::pair usage
  src/cpu.cpp
Labels: core

Fix NCNN_SIMPLESTL compatibility and improve bit shift safety
  src/cpu.cpp
  src/cpu.h
  src/platform.h.in
Labels: core

apply code-format changes
  src/cpu.cpp
Labels: core

Fix Windows ARM compatibility for popcount64 function
  src/cpu.cpp
Labels: core

s
  src/layer/vulkan/convolution_vulkan.cpp
  src/layer/vulkan/shader/convolution_winograd_gemm_cm.comp
Labels: vulkan

apply code-format changes
  src/layer/vulkan/convolution_vulkan.cpp
Labels: vulkan

Fix compilation and test issues
  src/cpu.cpp
  src/platform.h.in
Labels: core

Fix aarch64-native simplestl-simplemath compilation
  src/platform.h.in
Labels: core

Support win (#4)
  src/cpu.cpp
  src/cpu.h
  tests/test_multicpu.cpp
Labels: test, core

a
  src/layer/vulkan/convolution_vulkan.cpp
  src/layer/vulkan/shader/convolution_3x3s1d1_winograd23_transform_input.comp
  src/layer/vulkan/shader/convolution_3x3s1d1_winograd23_transform_output.comp
  src/layer/vulkan/shader/convolution_3x3s1d1_winograd43_transform_input.comp
  src/layer/vulkan/shader/convolution_3x3s1d1_winograd43_transform_output.comp
  src/layer/vulkan/shader/convolution_winograd_gemm_cm.comp
Labels: vulkan

apply code-format changes
  src/layer/vulkan/convolution_vulkan.cpp
Labels: vulkan

s
  src/layer/vulkan/convolution_vulkan.cpp
  src/layer/vulkan/shader/convolution_pack4_3x3s1d1_winograd23_transform_input.comp
  src/layer/vulkan/shader/convolution_pack4_3x3s1d1_winograd23_transform_output.comp
  src/layer/vulkan/shader/convolution_pack4_3x3s1d1_winograd43_transform_input.comp
  src/layer/vulkan/shader/convolution_pack4_3x3s1d1_winograd43_transform_output.comp
  src/layer/vulkan/shader/convolution_winograd_gemm_cm.comp
Labels: vulkan

s
  src/layer/vulkan/convolution_vulkan.cpp
  src/layer/vulkan/shader/convolution_3x3s1d1_winograd_gemm.comp
  src/layer/vulkan/shader/convolution_pack1to4_3x3s1d1_winograd_gemm.comp
  src/layer/vulkan/shader/convolution_pack1to8_3x3s1d1_winograd_gemm.comp
  src/layer/vulkan/shader/convolution_pack4_3x3s1d1_winograd_gemm.comp
  src/layer/vulkan/shader/convolution_pack4_3x3s1d1_winograd_gemm_cm_16_16_16.comp
  src/layer/vulkan/shader/convolution_pack4_3x3s1d1_winograd_gemm_cm_16_8_8.comp
  src/layer/vulkan/shader/convolution_pack4to1_3x3s1d1_winograd_gemm.comp
  src/layer/vulkan/shader/convolution_pack4to8_3x3s1d1_winograd_gemm.comp
  src/layer/vulkan/shader/convolution_pack8_3x3s1d1_winograd23_transform_input.comp
  src/layer/vulkan/shader/convolution_pack8_3x3s1d1_winograd23_transform_output.comp
  src/layer/vulkan/shader/convolution_pack8_3x3s1d1_winograd43_transform_input.comp
  src/layer/vulkan/shader/convolution_pack8_3x3s1d1_winograd43_transform_output.comp
  src/layer/vulkan/shader/convolution_pack8_3x3s1d1_winograd_gemm.comp
  src/layer/vulkan/shader/convolution_pack8to1_3x3s1d1_winograd_gemm.comp
  src/layer/vulkan/shader/convolution_pack8to4_3x3s1d1_winograd_gemm.comp
Labels: vulkan

apply code-format changes
  src/layer/vulkan/convolution_vulkan.cpp
Labels: vulkan

s
  src/layer/vulkan/convolution_vulkan.cpp
  src/layer/vulkan/shader/convolution_1x1s1d1_cm.comp
  src/layer/vulkan/shader/convolution_gemm_cm.comp
  src/layer/vulkan/shader/convolution_winograd_gemm_cm.comp
Labels: vulkan
