Repository Tencent/ncnn, changes with the labels that .github/labeler.yml gives for each.
All labels: cmake, doc, python, example, test, tool, pnnx, core, layer, arm, loongarch, mips, riscv, vulkan, x86

update glslang for fp8, fix fp8 enum
  src/vulkan_header_fix.h
Labels: core

update glslang for fp8, fix fp8 enum (#6125)
  src/vulkan_header_fix.h
Labels: core

drop layer support_image_storage and option use_image_storage
  benchmark/benchncnn.cpp
  examples/yolov4.cpp
  src/c_api.cpp
  src/c_api.h
  src/gpu.cpp
  src/layer.cpp
  src/layer.h
  src/layer/input.cpp
  src/layer/input.h
  src/net.cpp
  src/option.cpp
  src/option.h
  src/pipelinecache.cpp
  tests/test_cast.cpp
  tests/test_convolution.cpp
  tests/test_convolution_1.cpp
  tests/test_convolution_2.cpp
  tests/test_convolution_3.cpp
  tests/test_deconvolution.cpp
  tests/test_deformableconv2d.cpp
  tests/test_deformableconv2d_1.cpp
  tests/test_deformableconv2d_2.cpp
  tests/test_deformableconv2d_3.cpp
  tests/test_packing.cpp
  tests/test_squeezenet.cpp
  tests/testutil.cpp
Labels: example, test, core, layer

fix pyncnn build
  python/src/main.cpp
  python/tests/benchmark.py
  python/tests/test_option.py
Labels: python

p
  src/convert_ycbcr.comp
Labels: core

drop layer support_image_storage and option use_image_storage (#6126)
  benchmark/benchncnn.cpp
  examples/yolov4.cpp
  python/src/main.cpp
  python/tests/benchmark.py
  python/tests/test_option.py
  src/c_api.cpp
  src/c_api.h
  src/convert_ycbcr.comp
  src/gpu.cpp
  src/layer.cpp
  src/layer.h
  src/layer/input.cpp
  src/layer/input.h
  src/net.cpp
  src/option.cpp
  src/option.h
  src/pipelinecache.cpp
  tests/test_cast.cpp
  tests/test_convolution.cpp
  tests/test_convolution_1.cpp
  tests/test_convolution_2.cpp
  tests/test_convolution_3.cpp
  tests/test_deconvolution.cpp
  tests/test_deformableconv2d.cpp
  tests/test_deformableconv2d_1.cpp
  tests/test_deformableconv2d_2.cpp
  tests/test_deformableconv2d_3.cpp
  tests/test_packing.cpp
  tests/test_squeezenet.cpp
  tests/testutil.cpp
Labels: python, example, test, core, layer

compute-only vulkan
  src/gpu.cpp
  src/gpu.h
Labels: core

p
  src/gpu.cpp
  src/layer/vulkan/concat_vulkan.cpp
  src/layer/vulkan/shader/convolution_1x1s1d1.comp
  src/layer/vulkan/shader/convolution_3x3s1d1_winograd_gemm.comp
  src/layer/vulkan/shader/convolution_gemm.comp
  src/layer/vulkan/shader/convolution_pack1to4_1x1s1d1.comp
  src/layer/vulkan/shader/convolution_pack1to4_3x3s1d1_winograd_gemm.comp
  src/layer/vulkan/shader/convolution_pack1to4_gemm.comp
  src/layer/vulkan/shader/deconvolution_gemm.comp
  src/layer/vulkan/shader/deconvolution_pack1to4_gemm.comp
  src/layer/vulkan/shader/gemm.comp
  src/layer/vulkan/shader/normalize_reduce_sum4_fp16_to_fp32.comp
Labels: core, vulkan

cast
  tests/test_cast.cpp
Labels: test

w
  src/command.cpp
  src/gpu.cpp
  src/layer/packing.cpp
  src/layer/packing.h
  src/layer/vulkan/packing_vulkan.cpp
  src/layer/vulkan/shader/packing.comp
  src/layer/vulkan/shader/packing_fp16_to_fp32.comp
  src/layer/vulkan/shader/packing_fp32_to_fp16.comp
  src/layer/vulkan/shader/packing_pack1to4.comp
  src/layer/vulkan/shader/packing_pack1to4_fp16_to_fp32.comp
  src/layer/vulkan/shader/packing_pack1to4_fp32_to_fp16.comp
  src/layer/vulkan/shader/packing_pack1to8.comp
  src/layer/vulkan/shader/packing_pack1to8_fp16_to_fp32.comp
  src/layer/vulkan/shader/packing_pack1to8_fp32_to_fp16.comp
  src/layer/vulkan/shader/packing_pack4.comp
  src/layer/vulkan/shader/packing_pack4_fp16_to_fp32.comp
  src/layer/vulkan/shader/packing_pack4_fp32_to_fp16.comp
  src/layer/vulkan/shader/packing_pack4to1.comp
  src/layer/vulkan/shader/packing_pack4to1_fp16_to_fp32.comp
  src/layer/vulkan/shader/packing_pack4to1_fp32_to_fp16.comp
  src/layer/vulkan/shader/packing_pack4to8.comp
  src/layer/vulkan/shader/packing_pack4to8_fp16_to_fp32.comp
  src/layer/vulkan/shader/packing_pack4to8_fp32_to_fp16.comp
  src/layer/vulkan/shader/packing_pack8.comp
  src/layer/vulkan/shader/packing_pack8_fp16_to_fp32.comp
  src/layer/vulkan/shader/packing_pack8_fp32_to_fp16.comp
  src/layer/vulkan/shader/packing_pack8to1.comp
  src/layer/vulkan/shader/packing_pack8to1_fp16_to_fp32.comp
  src/layer/vulkan/shader/packing_pack8to1_fp32_to_fp16.comp
  src/layer/vulkan/shader/packing_pack8to4.comp
  src/layer/vulkan/shader/packing_pack8to4_fp16_to_fp32.comp
  src/layer/vulkan/shader/packing_pack8to4_fp32_to_fp16.comp
  src/mat.h
Labels: core, layer, vulkan

unified fp16p fp16s packing
  src/command.cpp
  src/gpu.cpp
  src/gpu.h
  src/layer/packing.h
  src/layer/vulkan/packing_vulkan.cpp
Labels: core, layer, vulkan

fp16s
  src/gpu.cpp
Labels: core

g
  src/gpu.cpp
Labels: core

fp16 gap
  src/command.cpp
  src/gpu.cpp
  src/layer/vulkan/packing_vulkan.cpp
  src/layer/vulkan/shader/packing.comp
  src/layer/vulkan/shader/packing_fp16_to_fp32.comp
  src/layer/vulkan/shader/packing_fp32_to_fp16.comp
Labels: core, vulkan

clean
  src/layer/vulkan/packing_vulkan.cpp
  src/layer/vulkan/shader/packing.comp
  src/layer/vulkan/shader/packing_fp16_to_fp32.comp
  src/layer/vulkan/shader/packing_fp32_to_fp16.comp
  src/layer/vulkan/shader/packing_pack1to4.comp
  src/layer/vulkan/shader/packing_pack1to4_fp16_to_fp32.comp
  src/layer/vulkan/shader/packing_pack1to4_fp32_to_fp16.comp
  src/layer/vulkan/shader/packing_pack1to8.comp
  src/layer/vulkan/shader/packing_pack1to8_fp16_to_fp32.comp
  src/layer/vulkan/shader/packing_pack1to8_fp32_to_fp16.comp
  src/layer/vulkan/shader/packing_pack4to1.comp
  src/layer/vulkan/shader/packing_pack4to1_fp16_to_fp32.comp
  src/layer/vulkan/shader/packing_pack4to1_fp32_to_fp16.comp
  src/layer/vulkan/shader/packing_pack4to8.comp
  src/layer/vulkan/shader/packing_pack4to8_fp16_to_fp32.comp
  src/layer/vulkan/shader/packing_pack4to8_fp32_to_fp16.comp
  src/layer/vulkan/shader/packing_pack8to1.comp
  src/layer/vulkan/shader/packing_pack8to1_fp16_to_fp32.comp
  src/layer/vulkan/shader/packing_pack8to1_fp32_to_fp16.comp
  src/layer/vulkan/shader/packing_pack8to4.comp
  src/layer/vulkan/shader/packing_pack8to4_fp16_to_fp32.comp
  src/layer/vulkan/shader/packing_pack8to4_fp32_to_fp16.comp
Labels: vulkan

fp16 gap
  src/layer/vulkan/shader/packing.comp
Labels: vulkan

cc
  src/gpu.cpp
  src/gpu.h
Labels: core

vulkan packing code clean, drop image storage type, unified fp16p fp16s packing (#6128)
  src/command.cpp
  src/gpu.cpp
  src/gpu.h
  src/layer/packing.cpp
  src/layer/packing.h
  src/layer/vulkan/packing_vulkan.cpp
  src/layer/vulkan/shader/packing.comp
  src/layer/vulkan/shader/packing_fp16_to_fp32.comp
  src/layer/vulkan/shader/packing_fp32_to_fp16.comp
  src/layer/vulkan/shader/packing_pack1to4.comp
  src/layer/vulkan/shader/packing_pack1to4_fp16_to_fp32.comp
  src/layer/vulkan/shader/packing_pack1to4_fp32_to_fp16.comp
  src/layer/vulkan/shader/packing_pack1to8.comp
  src/layer/vulkan/shader/packing_pack1to8_fp16_to_fp32.comp
  src/layer/vulkan/shader/packing_pack1to8_fp32_to_fp16.comp
  src/layer/vulkan/shader/packing_pack4.comp
  src/layer/vulkan/shader/packing_pack4_fp16_to_fp32.comp
  src/layer/vulkan/shader/packing_pack4_fp32_to_fp16.comp
  src/layer/vulkan/shader/packing_pack4to1.comp
  src/layer/vulkan/shader/packing_pack4to1_fp16_to_fp32.comp
  src/layer/vulkan/shader/packing_pack4to1_fp32_to_fp16.comp
  src/layer/vulkan/shader/packing_pack4to8.comp
  src/layer/vulkan/shader/packing_pack4to8_fp16_to_fp32.comp
  src/layer/vulkan/shader/packing_pack4to8_fp32_to_fp16.comp
  src/layer/vulkan/shader/packing_pack8.comp
  src/layer/vulkan/shader/packing_pack8_fp16_to_fp32.comp
  src/layer/vulkan/shader/packing_pack8_fp32_to_fp16.comp
  src/layer/vulkan/shader/packing_pack8to1.comp
  src/layer/vulkan/shader/packing_pack8to1_fp16_to_fp32.comp
  src/layer/vulkan/shader/packing_pack8to1_fp32_to_fp16.comp
  src/layer/vulkan/shader/packing_pack8to4.comp
  src/layer/vulkan/shader/packing_pack8to4_fp16_to_fp32.comp
  src/layer/vulkan/shader/packing_pack8to4_fp32_to_fp16.comp
  src/mat.h
Labels: core, layer, vulkan

vulkan absval unified elempack shader
  src/layer/vulkan/absval_vulkan.cpp
  src/layer/vulkan/absval_vulkan.h
  src/layer/vulkan/shader/absval.comp
  src/layer/vulkan/shader/absval_pack4.comp
  src/layer/vulkan/shader/absval_pack8.comp
Labels: vulkan

vulkan absval unified elempack shader (#6132)
  src/layer/vulkan/absval_vulkan.cpp
  src/layer/vulkan/absval_vulkan.h
  src/layer/vulkan/shader/absval.comp
  src/layer/vulkan/shader/absval_pack4.comp
  src/layer/vulkan/shader/absval_pack8.comp
Labels: vulkan

Fix ci error for update linux-riscv64.yml
  .github/workflows/linux-riscv64.yml
Labels: none

Fix ci error for update linux-riscv64.yml (#6133)
  .github/workflows/linux-riscv64.yml
Labels: none

Use platform-specific APIs for environment variables
  src/cpu.cpp
Labels: core

w
  src/gpu.cpp
  src/layer/packing.h
  src/layer/vulkan/dequantize_vulkan.cpp
  src/layer/vulkan/dequantize_vulkan.h
  src/layer/vulkan/quantize_vulkan.cpp
  src/layer/vulkan/quantize_vulkan.h
  src/layer/vulkan/requantize_vulkan.cpp
  src/layer/vulkan/requantize_vulkan.h
  src/layer/vulkan/shader/dequantize.comp
  src/layer/vulkan/shader/dequantize_pack4.comp
  src/layer/vulkan/shader/dequantize_pack8.comp
  src/layer/vulkan/shader/quantize.comp
  src/layer/vulkan/shader/quantize_pack4.comp
  src/layer/vulkan/shader/quantize_pack8.comp
  src/layer/vulkan/shader/requantize.comp
  src/layer/vulkan/shader/requantize_pack4.comp
  src/layer/vulkan/shader/requantize_pack8.comp
Labels: core, layer, vulkan

sss
  src/gpu.cpp
  src/layer/vulkan/packing_vulkan.cpp
  src/layer/vulkan/shader/packing_int.comp
Labels: core, vulkan

s
  src/gpu.cpp
  src/gpu.h
  src/layer/packing.h
  src/layer/vulkan/packing_vulkan.cpp
  src/layer/vulkan/shader/packing_int.comp
  src/layer/vulkan/shader/packing_int32_to_int8.comp
  src/layer/vulkan/shader/packing_int8.comp
  src/layer/vulkan/shader/packing_int8_to_int32.comp
  src/layer/vulkan/shader/packing_pack1to4_int.comp
  src/layer/vulkan/shader/packing_pack1to4_int32_to_int8.comp
  src/layer/vulkan/shader/packing_pack1to4_int8.comp
  src/layer/vulkan/shader/packing_pack1to4_int8_to_int32.comp
  src/layer/vulkan/shader/packing_pack1to8_int.comp
  src/layer/vulkan/shader/packing_pack1to8_int32_to_int8.comp
  src/layer/vulkan/shader/packing_pack1to8_int8.comp
  src/layer/vulkan/shader/packing_pack1to8_int8_to_int32.comp
  src/layer/vulkan/shader/packing_pack4_int.comp
  src/layer/vulkan/shader/packing_pack4_int32_to_int8.comp
  src/layer/vulkan/shader/packing_pack4_int8_to_int32.comp
  src/layer/vulkan/shader/packing_pack4to1_int.comp
  src/layer/vulkan/shader/packing_pack4to1_int32_to_int8.comp
  src/layer/vulkan/shader/packing_pack4to1_int8.comp
  src/layer/vulkan/shader/packing_pack4to1_int8_to_int32.comp
  src/layer/vulkan/shader/packing_pack4to8_int.comp
  src/layer/vulkan/shader/packing_pack4to8_int32_to_int8.comp
  src/layer/vulkan/shader/packing_pack4to8_int8.comp
  src/layer/vulkan/shader/packing_pack4to8_int8_to_int32.comp
  src/layer/vulkan/shader/packing_pack8_int.comp
  src/layer/vulkan/shader/packing_pack8_int32_to_int8.comp
  src/layer/vulkan/shader/packing_pack8_int8_to_int32.comp
  src/layer/vulkan/shader/packing_pack8to1_int.comp
  src/layer/vulkan/shader/packing_pack8to1_int32_to_int8.comp
  src/layer/vulkan/shader/packing_pack8to1_int8.comp
  src/layer/vulkan/shader/packing_pack8to1_int8_to_int32.comp
  src/layer/vulkan/shader/packing_pack8to4_int.comp
  src/layer/vulkan/shader/packing_pack8to4_int32_to_int8.comp
  src/layer/vulkan/shader/packing_pack8to4_int8.comp
  src/layer/vulkan/shader/packing_pack8to4_int8_to_int32.comp
  tests/test_packing.cpp
Labels: test, core, layer, vulkan

apply code-format changes
  src/gpu.cpp
Labels: core

impl: pipe cache
  src/gpu.cpp
  src/gpu.h
  tests/CMakeLists.txt
  tests/test_pipecache.cpp
Labels: test, core

apply code-format changes
  src/gpu.cpp
  tests/test_pipecache.cpp
Labels: test, core

impl: pipe cache
  src/gpu.cpp
  src/gpu.h
  tests/CMakeLists.txt
  tests/test_pipecache.cpp
Labels: test, core

apply code-format changes
  src/gpu.cpp
  tests/test_pipecache.cpp
Labels: test, core

Add lasx optimization for loongarch_usability.h
  src/layer/loongarch/loongarch_usability.h
Labels: loongarch

Add _LOONGARCH_FLOAT_CONST_PS256 to avoid variable redefinition
  src/layer/loongarch/loongarch_usability.h
Labels: loongarch

Add lasx optimization for math funtion
  src/layer/loongarch/lasx_mathfun.h
Labels: loongarch

Add lasx optimization for sigmoid
  src/layer/loongarch/sigmoid_loongarch.cpp
Labels: loongarch

s
  src/command.cpp
  src/gpu.cpp
  src/layer/vulkan/quantize_vulkan.cpp
  src/layer/vulkan/shader/quantize.comp
  src/layer/vulkan/shader/quantize_pack4.comp
  src/layer/vulkan/shader/quantize_pack8.comp
  tests/test_quantize.cpp
  tests/test_quantize_oom.cpp
Labels: test, core, vulkan

s
  src/layer/vulkan/dequantize_vulkan.cpp
  src/layer/vulkan/quantize_vulkan.cpp
  src/layer/vulkan/shader/dequantize.comp
  src/layer/vulkan/shader/dequantize_pack4.comp
  src/layer/vulkan/shader/dequantize_pack8.comp
  tests/test_dequantize.cpp
  tests/testutil.cpp
Labels: test, vulkan

s
  src/gpu.cpp
  src/layer/vulkan/requantize_vulkan.cpp
  src/layer/vulkan/shader/requantize.comp
  src/layer/vulkan/shader/requantize_pack4.comp
  src/layer/vulkan/shader/requantize_pack8.comp
Labels: core, vulkan

ss
  src/gpu.cpp
Labels: core

2025
  src/layer/vulkan/dequantize_vulkan.cpp
  src/layer/vulkan/dequantize_vulkan.h
  src/layer/vulkan/quantize_vulkan.cpp
  src/layer/vulkan/quantize_vulkan.h
  src/layer/vulkan/requantize_vulkan.cpp
  src/layer/vulkan/requantize_vulkan.h
  src/layer/vulkan/shader/dequantize_pack8.comp
  src/layer/vulkan/shader/packing_int8.comp
  src/layer/vulkan/shader/packing_pack1to4_int8.comp
  src/layer/vulkan/shader/packing_pack1to8_int8.comp
  src/layer/vulkan/shader/packing_pack4to1_int8.comp
  src/layer/vulkan/shader/packing_pack4to8_int8.comp
  src/layer/vulkan/shader/packing_pack8to1_int8.comp
  src/layer/vulkan/shader/packing_pack8to4_int8.comp
Labels: vulkan

.github/labeler.yml:

cmake:
- changed-files:
  - any-glob-to-any-file: ['cmake/**', 'toolchains/**']

doc: 
- changed-files:
  - any-glob-to-any-file: docs/**

python: 
- changed-files:
  - any-glob-to-any-file: python/**

example: 
- changed-files:
  - any-glob-to-any-file: examples/**

test: 
- changed-files:
  - any-glob-to-any-file: tests/**

tool: 
- changed-files:
  - any-glob-to-any-file: tools/**
pnnx: 
- changed-files:
  - any-glob-to-any-file: tools/pnnx/**

core: 
- changed-files:
  - any-glob-to-any-file: src/*
layer: 
- changed-files:
  - any-glob-to-any-file: src/layer/*

arm: 
- changed-files:
  - any-glob-to-any-file: src/layer/arm/**
loongarch: 
- changed-files:
  - any-glob-to-any-file: src/layer/loongarch/**
mips: 
- changed-files:
  - any-glob-to-any-file: src/layer/mips/**
riscv: 
- changed-files:
  - any-glob-to-any-file: src/layer/riscv/**
vulkan: 
- changed-files:
  - any-glob-to-any-file: src/layer/vulkan/**
x86: 
- changed-files:
  - any-glob-to-any-file: src/layer/x86/**
