Repository Tencent/ncnn, changes with the labels that .github/labeler.yml gives for each.
All labels: cmake, doc, python, example, test, tool, pnnx, core, layer, arm, loongarch, mips, riscv, vulkan, x86

cc
  src/layer/vulkan/convolution_vulkan.cpp
Labels: vulkan

s
  src/layer/vulkan/convolution_vulkan.cpp
Labels: vulkan

16
  src/layer/vulkan/convolution_vulkan.cpp
Labels: vulkan

cc
  src/layer/vulkan/convolution_vulkan.cpp
Labels: vulkan

constant c
  src/layer/vulkan/convolution_vulkan.cpp
  src/layer/vulkan/shader/convolution_3x3s1d1_winograd23_transform_input.comp
  src/layer/vulkan/shader/convolution_3x3s1d1_winograd23_transform_output.comp
  src/layer/vulkan/shader/convolution_3x3s1d1_winograd43_transform_input.comp
  src/layer/vulkan/shader/convolution_3x3s1d1_winograd43_transform_output.comp
  src/layer/vulkan/shader/convolution_pack4_3x3s1d1_winograd23_transform_input.comp
  src/layer/vulkan/shader/convolution_pack4_3x3s1d1_winograd23_transform_output.comp
  src/layer/vulkan/shader/convolution_pack4_3x3s1d1_winograd43_transform_input.comp
  src/layer/vulkan/shader/convolution_pack4_3x3s1d1_winograd43_transform_output.comp
  src/layer/vulkan/shader/convolution_pack8_3x3s1d1_winograd23_transform_input.comp
  src/layer/vulkan/shader/convolution_pack8_3x3s1d1_winograd23_transform_output.comp
  src/layer/vulkan/shader/convolution_pack8_3x3s1d1_winograd43_transform_input.comp
  src/layer/vulkan/shader/convolution_pack8_3x3s1d1_winograd43_transform_output.comp
Labels: vulkan

f size
  src/layer/vulkan/convolution_vulkan.cpp
Labels: vulkan

add threadUtillTools
  .gitignore
  CMakeLists.txt
  src/CMakeLists.txt
  src/TheadInfo.cpp
  src/TheadInfo.h
  src/cpu.cpp
  src/cpu.h
  src/layer.h
  src/layer/absval.cpp
  src/layer/absval.h
  src/layer/batchnorm.h
  src/platform.h.in
  src/thread.cpp
  src/thread.h
Labels: core, layer

apply code-format changes
  src/TheadInfo.cpp
  src/TheadInfo.h
  src/cpu.cpp
  src/cpu.h
  src/layer.h
  src/layer/absval.cpp
  src/thread.cpp
  src/thread.h
Labels: core, layer

fixt hread.h
  src/thread.h
Labels: core

fix
  src/thread.h
Labels: core

apply code-format changes
  src/thread.h
Labels: core

cc
  src/layer/vulkan/shader/convolution_1x1s1d1_cm.comp
  src/layer/vulkan/shader/convolution_3x3s1d1_winograd23_transform_input.comp
  src/layer/vulkan/shader/convolution_3x3s1d1_winograd23_transform_output.comp
  src/layer/vulkan/shader/convolution_3x3s1d1_winograd43_transform_input.comp
  src/layer/vulkan/shader/convolution_3x3s1d1_winograd43_transform_output.comp
  src/layer/vulkan/shader/convolution_gemm_cm.comp
  src/layer/vulkan/shader/convolution_pack4_3x3s1d1_winograd23_transform_input.comp
  src/layer/vulkan/shader/convolution_pack4_3x3s1d1_winograd23_transform_output.comp
  src/layer/vulkan/shader/convolution_pack4_3x3s1d1_winograd43_transform_input.comp
  src/layer/vulkan/shader/convolution_pack4_3x3s1d1_winograd43_transform_output.comp
  src/layer/vulkan/shader/convolution_pack8_3x3s1d1_winograd23_transform_input.comp
  src/layer/vulkan/shader/convolution_pack8_3x3s1d1_winograd23_transform_output.comp
  src/layer/vulkan/shader/convolution_pack8_3x3s1d1_winograd43_transform_input.comp
  src/layer/vulkan/shader/convolution_pack8_3x3s1d1_winograd43_transform_output.comp
  src/layer/vulkan/shader/convolution_winograd_gemm_cm.comp
Labels: vulkan

constant c outc
  src/layer/vulkan/convolution_vulkan.cpp
  src/layer/vulkan/shader/convolution_3x3s1d1_winograd_gemm.comp
  src/layer/vulkan/shader/convolution_pack1to4_3x3s1d1_winograd_gemm.comp
  src/layer/vulkan/shader/convolution_pack1to8_3x3s1d1_winograd_gemm.comp
  src/layer/vulkan/shader/convolution_pack4_3x3s1d1_winograd_gemm.comp
  src/layer/vulkan/shader/convolution_pack4to1_3x3s1d1_winograd_gemm.comp
  src/layer/vulkan/shader/convolution_pack4to8_3x3s1d1_winograd_gemm.comp
  src/layer/vulkan/shader/convolution_pack8_3x3s1d1_winograd_gemm.comp
  src/layer/vulkan/shader/convolution_pack8to1_3x3s1d1_winograd_gemm.comp
  src/layer/vulkan/shader/convolution_pack8to4_3x3s1d1_winograd_gemm.comp
Labels: vulkan

flexible coopmat mnk and unified elempack for vulkan convolution winograd gemm (#6196)
  src/layer/vulkan/convolution_vulkan.cpp
  src/layer/vulkan/shader/convolution_1x1s1d1_cm.comp
  src/layer/vulkan/shader/convolution_3x3s1d1_winograd23_transform_input.comp
  src/layer/vulkan/shader/convolution_3x3s1d1_winograd23_transform_output.comp
  src/layer/vulkan/shader/convolution_3x3s1d1_winograd43_transform_input.comp
  src/layer/vulkan/shader/convolution_3x3s1d1_winograd43_transform_output.comp
  src/layer/vulkan/shader/convolution_3x3s1d1_winograd_gemm.comp
  src/layer/vulkan/shader/convolution_pack1to4_3x3s1d1_winograd_gemm.comp
  src/layer/vulkan/shader/convolution_pack1to8_3x3s1d1_winograd_gemm.comp
  src/layer/vulkan/shader/convolution_pack4_3x3s1d1_winograd23_transform_input.comp
  src/layer/vulkan/shader/convolution_pack4_3x3s1d1_winograd23_transform_output.comp
  src/layer/vulkan/shader/convolution_pack4_3x3s1d1_winograd43_transform_input.comp
  src/layer/vulkan/shader/convolution_pack4_3x3s1d1_winograd43_transform_output.comp
  src/layer/vulkan/shader/convolution_pack4_3x3s1d1_winograd_gemm.comp
  src/layer/vulkan/shader/convolution_pack4_3x3s1d1_winograd_gemm_cm_16_16_16.comp
  src/layer/vulkan/shader/convolution_pack4_3x3s1d1_winograd_gemm_cm_16_8_8.comp
  src/layer/vulkan/shader/convolution_pack4to1_3x3s1d1_winograd_gemm.comp
  src/layer/vulkan/shader/convolution_pack4to8_3x3s1d1_winograd_gemm.comp
  src/layer/vulkan/shader/convolution_pack8_3x3s1d1_winograd23_transform_input.comp
  src/layer/vulkan/shader/convolution_pack8_3x3s1d1_winograd23_transform_output.comp
  src/layer/vulkan/shader/convolution_pack8_3x3s1d1_winograd43_transform_input.comp
  src/layer/vulkan/shader/convolution_pack8_3x3s1d1_winograd43_transform_output.comp
  src/layer/vulkan/shader/convolution_pack8_3x3s1d1_winograd_gemm.comp
  src/layer/vulkan/shader/convolution_pack8to1_3x3s1d1_winograd_gemm.comp
  src/layer/vulkan/shader/convolution_pack8to4_3x3s1d1_winograd_gemm.comp
  src/layer/vulkan/shader/convolution_winograd_gemm_cm.comp
Labels: vulkan

use codecov pypi for faster cli downloads
  .github/workflows/test-coverage.yml
Labels: none

ops
  src/layer/vulkan/shader/convolution_winograd_gemm_cm.comp
Labels: vulkan

Revert "use codecov pypi for faster cli downloads"
  .github/workflows/test-coverage.yml
Labels: none

p
  .github/workflows/test-coverage.yml
Labels: none

add define
  src/thread.h
Labels: core

apply code-format changes
  src/thread.h
Labels: core

use pre-downloaded codecov cli binary (#6198)
  .github/workflows/test-coverage.yml
  src/layer/vulkan/shader/convolution_winograd_gemm_cm.comp
Labels: vulkan

surpport android and like linux class.not surport ios ,macos and hormonyOS
  src/thread.cpp
Labels: core

apply code-format changes
  src/thread.cpp
Labels: core

s
  src/layer/vulkan/deconvolution_vulkan.cpp
  src/layer/vulkan/deconvolution_vulkan.h
  src/layer/vulkan/shader/deconvolution_gemm_cm.comp
  src/layer/vulkan/shader/deconvolution_pack4_gemm_cm_16_16_16.comp
  src/layer/vulkan/shader/deconvolution_pack4_gemm_cm_16_8_8.comp
Labels: vulkan

s
  src/layer/vulkan/deconvolution_vulkan.cpp
  src/layer/vulkan/shader/deconvolution_col2im.comp
  src/layer/vulkan/shader/deconvolution_gemm_cm.comp
  src/layer/vulkan/shader/deconvolution_pack4_col2im.comp
  src/layer/vulkan/shader/deconvolution_pack8_col2im.comp
Labels: vulkan

Fix popcount64 linking issue and improve compatibility
  src/cpu.cpp
Labels: core

s
  src/layer/vulkan/deconvolution_vulkan.cpp
  src/layer/vulkan/shader/deconvolution_gemm.comp
  src/layer/vulkan/shader/deconvolution_pack1to4_gemm.comp
  src/layer/vulkan/shader/deconvolution_pack1to8_gemm.comp
  src/layer/vulkan/shader/deconvolution_pack4_gemm.comp
  src/layer/vulkan/shader/deconvolution_pack4to1_gemm.comp
  src/layer/vulkan/shader/deconvolution_pack4to8_gemm.comp
  src/layer/vulkan/shader/deconvolution_pack8_gemm.comp
  src/layer/vulkan/shader/deconvolution_pack8to1_gemm.comp
  src/layer/vulkan/shader/deconvolution_pack8to4_gemm.comp
Labels: vulkan

constant outc
  src/layer/vulkan/deconvolution_vulkan.cpp
  src/layer/vulkan/shader/deconvolution_col2im.comp
  src/layer/vulkan/shader/deconvolution_pack4_col2im.comp
  src/layer/vulkan/shader/deconvolution_pack8_col2im.comp
Labels: vulkan

test deconv
  tests/test_deconvolution.cpp
Labels: test

t4 coverage
  .github/workflows/test-coverage.yml
Labels: none

cc
  .github/workflows/test-coverage.yml
Labels: none

update spacemit toolchain and qemu test
  .github/workflows/linux-riscv64.yml
  toolchains/k1.llvm.toolchain.cmake
  toolchains/k1.toolchain.cmake
Labels: cmake

f
  .github/workflows/linux-riscv64.yml
Labels: none

update spacemit toolchain and qemu test (#6200)
  .github/workflows/linux-riscv64.yml
  toolchains/k1.llvm.toolchain.cmake
  toolchains/k1.toolchain.cmake
Labels: cmake

opt
  src/layer/vulkan/deconvolution_vulkan.cpp
Labels: vulkan

flexible coopmat mnk and unified elempack for vulkan deconvolution gemm (#6199)
  .github/workflows/test-coverage.yml
  src/layer/vulkan/deconvolution_vulkan.cpp
  src/layer/vulkan/deconvolution_vulkan.h
  src/layer/vulkan/shader/deconvolution_col2im.comp
  src/layer/vulkan/shader/deconvolution_gemm.comp
  src/layer/vulkan/shader/deconvolution_gemm_cm.comp
  src/layer/vulkan/shader/deconvolution_pack1to4_gemm.comp
  src/layer/vulkan/shader/deconvolution_pack1to8_gemm.comp
  src/layer/vulkan/shader/deconvolution_pack4_col2im.comp
  src/layer/vulkan/shader/deconvolution_pack4_gemm.comp
  src/layer/vulkan/shader/deconvolution_pack4_gemm_cm_16_16_16.comp
  src/layer/vulkan/shader/deconvolution_pack4_gemm_cm_16_8_8.comp
  src/layer/vulkan/shader/deconvolution_pack4to1_gemm.comp
  src/layer/vulkan/shader/deconvolution_pack4to8_gemm.comp
  src/layer/vulkan/shader/deconvolution_pack8_col2im.comp
  src/layer/vulkan/shader/deconvolution_pack8_gemm.comp
  src/layer/vulkan/shader/deconvolution_pack8to1_gemm.comp
  src/layer/vulkan/shader/deconvolution_pack8to4_gemm.comp
  tests/test_deconvolution.cpp
Labels: test, vulkan

use size_t type for proper large tensor support
  src/layer/arm/convolution_3x3_winograd.h
  src/layer/arm/convolution_3x3_winograd_bf16s.h
  src/layer/arm/convolution_3x3_winograd_int8.h
  src/layer/arm/convolution_im2col_gemm.h
  src/layer/arm/convolution_im2col_gemm_bf16s.h
  src/layer/arm/convolution_im2col_gemm_fp16s.h
  src/layer/arm/convolution_packed.h
  src/layer/arm/convolution_packed_bf16s.h
  src/layer/arm/convolution_packed_fp16s.h
  src/layer/arm/convolution_packed_int8.h
  src/layer/arm/gemm_arm.cpp
  src/layer/arm/gemm_arm_asimdhp.cpp
  src/layer/arm/gemm_bf16s.h
  src/layer/arm/gemm_bf16s_fp16s.h
  src/layer/arm/gemm_fp16s.h
  src/layer/arm/gemm_int8.h
  src/layer/arm/gemm_int8_bf16s.h
  src/layer/arm/gemm_int8_fp16s.h
  src/layer/arm/softmax_arm.cpp
  src/layer/arm/softmax_arm_asimdhp.cpp
  src/layer/gemm.cpp
  src/layer/glu.cpp
  src/layer/riscv/gemm_riscv.cpp
  src/layer/riscv/softmax_riscv.cpp
  src/layer/slice.cpp
  src/layer/x86/convolution_3x3_winograd.h
  src/layer/x86/convolution_3x3_winograd_int8.h
  src/layer/x86/convolution_im2col_gemm_int8.h
  src/layer/x86/convolution_packed.h
  src/layer/x86/convolution_packed_int8.h
  src/layer/x86/gemm_int8.h
  src/layer/x86/gemm_x86.cpp
  src/layer/x86/softmax_x86.cpp
Labels: layer, arm, riscv, x86

Update src/layer/arm/gemm_bf16s.h
  src/layer/arm/gemm_bf16s.h
Labels: arm

q
  src/layer/slice.cpp
  src/layer/x86/convolution_im2col_gemm_int8.h
  src/layer/x86/softmax_x86.cpp
Labels: layer, x86

q2
  src/layer/arm/softmax_arm.cpp
  src/layer/arm/softmax_arm_asimdhp.cpp
  src/layer/riscv/softmax_riscv.cpp
Labels: arm, riscv

.github/labeler.yml:

cmake:
- changed-files:
  - any-glob-to-any-file: ['cmake/**', 'toolchains/**']

doc: 
- changed-files:
  - any-glob-to-any-file: docs/**

python: 
- changed-files:
  - any-glob-to-any-file: python/**

example: 
- changed-files:
  - any-glob-to-any-file: examples/**

test: 
- changed-files:
  - any-glob-to-any-file: tests/**

tool: 
- changed-files:
  - any-glob-to-any-file: tools/**
pnnx: 
- changed-files:
  - any-glob-to-any-file: tools/pnnx/**

core: 
- changed-files:
  - any-glob-to-any-file: src/*
layer: 
- changed-files:
  - any-glob-to-any-file: src/layer/*

arm: 
- changed-files:
  - any-glob-to-any-file: src/layer/arm/**
loongarch: 
- changed-files:
  - any-glob-to-any-file: src/layer/loongarch/**
mips: 
- changed-files:
  - any-glob-to-any-file: src/layer/mips/**
riscv: 
- changed-files:
  - any-glob-to-any-file: src/layer/riscv/**
vulkan: 
- changed-files:
  - any-glob-to-any-file: src/layer/vulkan/**
x86: 
- changed-files:
  - any-glob-to-any-file: src/layer/x86/**
