Repository Tencent/ncnn, changes with the labels that .github/labeler.yml gives for each.
All labels: cmake, doc, python, example, test, tool, pnnx, core, layer, arm, loongarch, mips, riscv, vulkan, x86

s
  src/layer/vulkan/convolution_vulkan.cpp
  src/layer/vulkan/shader/convolution_1x1s1d1_cm.comp
Labels: vulkan

spdx++
  src/layer/riscv/absval_riscv.cpp
  src/layer/riscv/absval_riscv.h
  src/layer/riscv/dropout_riscv.cpp
  src/layer/riscv/dropout_riscv.h
  src/layer/riscv/hardsigmoid_riscv.cpp
  src/layer/riscv/hardswish_riscv.cpp
  src/layer/riscv/hardswish_riscv.h
  src/layer/riscv/relu_riscv.cpp
Labels: riscv

spdx++
  src/layer/x86/bnll_x86.cpp
  src/layer/x86/bnll_x86.h
  src/layer/x86/pooling_2x2.h
  src/layer/x86/pooling_2x2_pack4.h
  src/layer/x86/pooling_2x2_pack8.h
  src/layer/x86/pooling_3x3_pack4.h
  src/layer/x86/pooling_3x3_pack8.h
  src/layer/x86/pooling_x86.h
Labels: x86

spdx++
  src/layer/arm/dequantize_arm.cpp
  src/layer/arm/quantize_arm.cpp
  src/layer/arm/requantize_arm.cpp
  src/layer/arm/requantize_arm.h
  src/layer/arm/shufflechannel_arm.cpp
  src/layer/cumulativesum.cpp
  src/layer/cumulativesum.h
  src/layer/requantize.cpp
  src/layer/requantize.h
  src/layer/statisticspooling.cpp
  src/layer/statisticspooling.h
  src/simplestl.cpp
  tests/test_bnll.cpp
  tests/test_cumulativesum.cpp
  tests/test_glu.cpp
  tests/test_selu.cpp
Labels: test, core, layer, arm

spdx++
  python/src/main.cpp
  python/src/pybind11_allocator.h
  python/src/pybind11_bind.h
  python/src/pybind11_datareader.h
  python/src/pybind11_layer.h
  python/src/pybind11_mat.h
  python/src/pybind11_modelbin.h
Labels: python

spdx++
  tools/pnnx/src/pass_level1/nn_GLU.cpp
  tools/pnnx/src/pass_level2/F_glu.cpp
  tools/pnnx/src/pass_level2/torch_cumprod.cpp
  tools/pnnx/src/pass_level2/torch_cumsum.cpp
  tools/pnnx/src/pass_ncnn/F_glu.cpp
  tools/pnnx/src/pass_ncnn/nn_GLU.cpp
  tools/pnnx/src/pass_ncnn/torch_cumsum.cpp
  tools/pnnx/tests/ncnn/test_F_glu.py
  tools/pnnx/tests/ncnn/test_torch_cumsum.py
  tools/pnnx/tests/test_F_glu.py
  tools/pnnx/tests/test_torch_cumprod.py
  tools/pnnx/tests/test_torch_cumsum.py
Labels: tool, pnnx

spdx++
  examples/yolox.cpp
  python/ncnn/model_zoo/yolov7.py
  src/layer/arm/convolutiondepthwise_3x3_int8.h
  src/layer/mips/loongson_mmi.h
  src/layer/mips/mips_usability.h
  src/layer/x86/convolution_3x3_int8.h
  src/layer/x86/convolutiondepthwise_3x3_int8.h
  tools/quantize/ncnn2int8.cpp
  tools/quantize/ncnn2table.cpp
Labels: python, example, tool, arm, mips, x86

tencent
  LICENSE.txt
Labels: none

h
  src/layer/vulkan/shader/convolution_1x1s1d1_cm.comp
Labels: vulkan

z
  src/layer/vulkan/shader/convolution_1x1s1d1_cm.comp
Labels: vulkan

apply code-format changes
  src/layer/loongarch/lasx_mathfun.h
  src/layer/loongarch/lsx_mathfun.h
Labels: loongarch

add hisi SS928V100 toolchain config \n
  build.sh
  toolchains/himix210.toolchain.cmake
Labels: cmake

docs: update Chinese glsl-extension documentation (#6162)
  docs/developer-guide/glsl-extension.md
  docs/developer-guide/glsl-extension.zh.md
  src/gpu.cpp
Labels: doc, core

Use spdx header
  src/layer/loongarch/lasx_mathfun.h
Labels: loongarch

Move lasx lines into lsx macro
  src/layer/loongarch/loongarch_usability.h
  src/layer/loongarch/sigmoid_loongarch.cpp
Labels: loongarch

AK3918 cross toolchain and build script
  build.sh
  toolchains/anykav500.toolchain.cmake
Labels: cmake

loongarch LASX optimization for math/trigonometric functions and sigmoid (#6163)
  src/layer/loongarch/lasx_mathfun.h
  src/layer/loongarch/loongarch_usability.h
  src/layer/loongarch/lsx_mathfun.h
  src/layer/loongarch/sigmoid_loongarch.cpp
Labels: loongarch

feat: add cmake print ver support
  cmake/ncnnConfig.cmake.in
Labels: cmake

q
  src/layer/vulkan/convolution_vulkan.cpp
  src/layer/vulkan/shader/convolution_1x1s1d1_cm.comp
Labels: vulkan

remove code in build.sh update how-to-build
  build.sh
  docs/how-to-build/how-to-build.md
Labels: doc

fix: add choose-version support via
  src/CMakeLists.txt
Labels: core

fix vulkan absval
  src/layer/vulkan/absval_vulkan.cpp
Labels: vulkan

Update test_absval.cpp
  tests/test_absval.cpp
Labels: test

add cross toolchain cmake config of AK3918(AK) and SS928(hisi) (#6164)
  docs/how-to-build/how-to-build.md
  toolchains/anykav500.toolchain.cmake
  toolchains/himix210.toolchain.cmake
Labels: cmake, doc

fix 1d 2d cstep
  src/mat.cpp
  src/mat.h
Labels: core

code clean
  src/layer/vulkan/absval_vulkan.cpp
Labels: vulkan

vulkan sigmoid unified elempack shader
  src/layer/vulkan/shader/sigmoid.comp
  src/layer/vulkan/shader/sigmoid_pack4.comp
  src/layer/vulkan/shader/sigmoid_pack8.comp
  src/layer/vulkan/sigmoid_vulkan.cpp
  src/layer/vulkan/sigmoid_vulkan.h
  tests/test_sigmoid.cpp
Labels: test, vulkan

apply code-format changes
  src/layer/vulkan/sigmoid_vulkan.cpp
Labels: vulkan

fix ranged cstep
  src/mat.h
Labels: core

clean
  src/mat.h
Labels: core

revert align way fix ranged cstep
  src/layer/vulkan/sigmoid_vulkan.cpp
  src/mat.cpp
  src/mat.h
  tests/test_sigmoid.cpp
Labels: test, core, vulkan

r
  src/mat.cpp
  src/mat.h
Labels: core

r2
  src/mat.h
Labels: core

r2
  src/mat.h
Labels: core

fix crash on nt kernel without GetLogicalProcessorInformationEx
  src/cpu.cpp
Labels: core

apply code-format changes
  src/cpu.cpp
Labels: core

fix vulkan absval fp16 (#6167)
  src/layer/vulkan/absval_vulkan.cpp
  src/mat.cpp
  src/mat.h
  tests/test_absval.cpp
Labels: test, core, vulkan

apply code-format changes
  src/mat.cpp
Labels: core

revert to master
  src/cpu.cpp
  src/layer/vulkan/shader/sigmoid.comp
  src/layer/vulkan/shader/sigmoid_pack4.comp
  src/layer/vulkan/shader/sigmoid_pack8.comp
  src/layer/vulkan/sigmoid_vulkan.cpp
  src/layer/vulkan/sigmoid_vulkan.h
  src/mat.cpp
  src/mat.h
  tests/test_sigmoid.cpp
Labels: test, core, vulkan

vulkan absval unified elempack shader
  src/layer/vulkan/shader/sigmoid.comp
  src/layer/vulkan/shader/sigmoid_pack4.comp
  src/layer/vulkan/shader/sigmoid_pack8.comp
  src/layer/vulkan/sigmoid_vulkan.cpp
  src/layer/vulkan/sigmoid_vulkan.h
Labels: vulkan

.github/labeler.yml:

cmake:
- changed-files:
  - any-glob-to-any-file: ['cmake/**', 'toolchains/**']

doc: 
- changed-files:
  - any-glob-to-any-file: docs/**

python: 
- changed-files:
  - any-glob-to-any-file: python/**

example: 
- changed-files:
  - any-glob-to-any-file: examples/**

test: 
- changed-files:
  - any-glob-to-any-file: tests/**

tool: 
- changed-files:
  - any-glob-to-any-file: tools/**
pnnx: 
- changed-files:
  - any-glob-to-any-file: tools/pnnx/**

core: 
- changed-files:
  - any-glob-to-any-file: src/*
layer: 
- changed-files:
  - any-glob-to-any-file: src/layer/*

arm: 
- changed-files:
  - any-glob-to-any-file: src/layer/arm/**
loongarch: 
- changed-files:
  - any-glob-to-any-file: src/layer/loongarch/**
mips: 
- changed-files:
  - any-glob-to-any-file: src/layer/mips/**
riscv: 
- changed-files:
  - any-glob-to-any-file: src/layer/riscv/**
vulkan: 
- changed-files:
  - any-glob-to-any-file: src/layer/vulkan/**
x86: 
- changed-files:
  - any-glob-to-any-file: src/layer/x86/**
