Repository Tencent/ncnn, changes with the labels that .github/labeler.yml gives for each.
All labels: cmake, doc, python, example, test, tool, pnnx, core, layer, arm, loongarch, mips, riscv, vulkan, x86

.github/labeler.yml:

cmake:
- changed-files:
  - any-glob-to-any-file: ['cmake/**', 'toolchains/**']

doc: 
- changed-files:
  - any-glob-to-any-file: docs/**

python: 
- changed-files:
  - any-glob-to-any-file: python/**

example: 
- changed-files:
  - any-glob-to-any-file: examples/**

test: 
- changed-files:
  - any-glob-to-any-file: tests/**

tool: 
- changed-files:
  - any-glob-to-any-file: tools/**
pnnx: 
- changed-files:
  - any-glob-to-any-file: tools/pnnx/**

core: 
- changed-files:
  - any-glob-to-any-file: src/*
layer: 
- changed-files:
  - any-glob-to-any-file: src/layer/*

arm: 
- changed-files:
  - any-glob-to-any-file: src/layer/arm/**
loongarch: 
- changed-files:
  - any-glob-to-any-file: src/layer/loongarch/**
mips: 
- changed-files:
  - any-glob-to-any-file: src/layer/mips/**
riscv: 
- changed-files:
  - any-glob-to-any-file: src/layer/riscv/**
vulkan: 
- changed-files:
  - any-glob-to-any-file: src/layer/vulkan/**
x86: 
- changed-files:
  - any-glob-to-any-file: src/layer/x86/**

Fixed AVX related issues
  .github/workflows/windows-xp.yml
  toolchains/windows-xp-msvc.toolchain.cmake
  toolchains/windows-xp.toolchain.cmake
Labels: cmake

Add build docs
  docs/how-to-build/how-to-build.md
Labels: doc

Use NCNN_BUILD_WITH_STATIC_CRT instead
  toolchains/windows-xp-msvc.toolchain.cmake
Labels: cmake

Remove unrelated doc changes
  docs/developer-guide/glsl-extension.zh.md
Labels: doc

Update src/platform.h.in
  src/platform.h.in
Labels: core

vulkan unaryop unified elempack shader
  src/layer/vulkan/shader/unaryop.comp
  src/layer/vulkan/shader/unaryop_pack4.comp
  src/layer/vulkan/shader/unaryop_pack8.comp
  src/layer/vulkan/unaryop_vulkan.cpp
  src/layer/vulkan/unaryop_vulkan.h
Labels: vulkan

Fixed toolset usage.
  .github/workflows/windows-xp.yml
Labels: none

vulkan unaryop unified elempack shader
  src/layer/vulkan/unaryop_vulkan.cpp
Labels: vulkan

Add windows xp msvc workflow
  .github/workflows/windows-xp-msvc.yml
Labels: none

apply code-format changes
  src/layer/vulkan/unaryop_vulkan.cpp
Labels: vulkan

init
  src/CMakeLists.txt
Labels: core

Confirmed v141_xp would be installed.
  .github/workflows/windows-xp.yml
Labels: none

use macro to ensure only XP uses cs and event
  src/platform.h.in
Labels: core

Edited guide
  docs/developer-guide/build-ncnn-on-windows-xp.zh.md
Labels: doc

Add windows xp msvc workflow
  .github/workflows/windows-xp-msvc.yml
Labels: none

Delete out of dated workaround
  src/layer/binaryop.cpp
  src/layer/x86/binaryop_x86.cpp
Labels: layer, x86

Edited toolchain, mingw-related usage, and link in guide
  .github/workflows/windows-xp.yml
  docs/how-to-build/how-to-build.md
  toolchains/windows-xp-msvc.toolchain.cmake
  toolchains/windows-xp.toolchain.cmake
Labels: cmake, doc

support linux, not tested
  64cpu
  src/cpu.cpp
  src/cpu.h
Labels: core

Edited core usage
  .github/workflows/windows-xp.yml
Labels: none

Remove sse2=OFF flag
  .github/workflows/windows-xp-clang.yml
  docs/how-to-build/how-to-build.md
Labels: doc

Delete vulkan trigger
  .github/workflows/windows-xp-clang.yml
  .github/workflows/windows-xp-mingw.yml
  .github/workflows/windows-xp-msvc.yml
Labels: none

use 4 cpus
  docs/how-to-build/how-to-build.md
Labels: doc

vulkan unaryop unified elempack shader
  src/layer/vulkan/shader/unaryop.comp
  src/layer/vulkan/unaryop_vulkan.cpp
Labels: vulkan

apply code-format changes
  src/layer/vulkan/unaryop_vulkan.cpp
Labels: vulkan

Edited mingw installation
  .github/workflows/windows-xp.yml
Labels: none

vulkan unaryop unified elempack shader (#6179)
  src/layer/vulkan/shader/unaryop.comp
  src/layer/vulkan/shader/unaryop_pack4.comp
  src/layer/vulkan/shader/unaryop_pack8.comp
  src/layer/vulkan/unaryop_vulkan.cpp
  src/layer/vulkan/unaryop_vulkan.h
Labels: vulkan

Edited mingw installation
  .github/workflows/windows-xp.yml
Labels: none

fit linux CpuSet change
  src/cpu.cpp
  src/cpu.h
Labels: core

support linux v1.0
  src/CMakeLists.txt
  src/cpu.h
Labels: core

Update unaryop.comp
  src/layer/vulkan/shader/unaryop.comp
Labels: vulkan

Use NCNN_BUILD_WITH_STATIC_CRT
  .github/workflows/windows-xp-msvc.yml
Labels: none

fix unaryop on moltenvk (#6181)
  src/layer/vulkan/shader/unaryop.comp
Labels: vulkan

Windows XP workaround
  src/cpu.cpp
Labels: core

​fix(cpu): Add support for CPUs with more than 64 cores and resolve thread-safe initialization issues​
  src/cpu.cpp
  src/cpu.h
Labels: core

apply code-format changes
  src/cpu.cpp
Labels: core

fix: adjust platform-specific logic in cpu.cpp
  src/cpu.cpp
Labels: core

apply code-format changes
  src/cpu.cpp
Labels: core

Support for >64 CPU systems
  src/cpu.cpp
  src/cpu.h
  tests/CMakeLists.txt
  tests/test_cpu_large.cpp
Labels: test, core

Support for >64 CPU systems
  64
Labels: none

fix: remove redundant pthread_once
  src/cpu.cpp
Labels: core
