Repository Tencent/ncnn, pull requests merged in 2023-11, with the labels that each got.

#5121 support big endian platform, add powerpc ci
  .ci/test-coverage.yml
  .github/workflows/linux-ppc64-cpu-gcc.yml
  src/modelbin.cpp
  src/net.cpp
  src/paramdict.cpp
  src/platform.h.in
  toolchains/powerpc-linux-gnu.toolchain.cmake
Labels: core, cmake

#5124 watchos and tvos ci
  .github/workflows/release.yml
  .github/workflows/tvos-cpu.yml
  .github/workflows/watchos-cpu.yml
  toolchains/ios.toolchain.cmake
Labels: cmake

#5139 delete useless setences
  src/layer/x86/convolution_im2col_gemm_int8.h
Labels: x86

#5141 Fix find GPU driver dll path in windows
  docs/developer-guide/vulkan-driver-loader.md
  src/simplevk.cpp
Labels: core, doc

#5144 Improve cmake toolchain files
  toolchains/aarch64-linux-gnu-c.toolchain.cmake
  toolchains/aarch64-linux-gnu.toolchain.cmake
  toolchains/arm-linux-gnueabi-c.toolchain.cmake
  toolchains/arm-linux-gnueabi.toolchain.cmake
  toolchains/arm-linux-gnueabihf-vfpv3-d16.toolchain.cmake
  toolchains/arm-linux-gnueabihf.toolchain.cmake
  toolchains/c906-v222.toolchain.cmake
  toolchains/c906-v223.toolchain.cmake
  toolchains/c906-v226.toolchain.cmake
  toolchains/c906-v240.toolchain.cmake
  toolchains/c910-v240.toolchain.cmake
  toolchains/himix100.toolchain.cmake
  toolchains/himix200.toolchain.cmake
  toolchains/hisiv300.toolchain.cmake
  toolchains/hisiv500.toolchain.cmake
  toolchains/hisiv600.toolchain.cmake
  toolchains/host-c.clang.toolchain.cmake
  toolchains/host-c.gcc.toolchain.cmake
  toolchains/host.gcc.toolchain.cmake
  toolchains/ingenic-x2000.toolchain.cmake
  toolchains/iossimxc-x64.toolchain.cmake
  toolchains/iossimxc.toolchain.cmake
  toolchains/iosxc-arm64.toolchain.cmake
  toolchains/iosxc.toolchain.cmake
  toolchains/jetson.toolchain.cmake
  toolchains/loongarch64-linux-gnu.toolchain.cmake
  toolchains/loongarch64-unknown-linux-gnu.toolchain.cmake
  toolchains/loongson2f-linux-gnuabi64.toolchain.cmake
  toolchains/mips-mti-linux-gnu.toolchain.cmake
  toolchains/mips32r2-linux-gnu.toolchain.cmake
  toolchains/mips64el-linux-gnuabi64.toolchain.cmake
  toolchains/mipsel-linux-gnu.toolchain.cmake
  toolchains/mipsisa32r6el-linux-gnu.toolchain.cmake
  toolchains/mipsisa64r6el-linux-gnuabi64.toolchain.cmake
  toolchains/pi3.toolchain.cmake
  toolchains/power8le-linux-gnu-vsx.clang.toolchain.cmake
  toolchains/power8le-linux-gnu-vsx.toolchain.cmake
  toolchains/power9le-linux-gnu-vsx.clang.toolchain.cmake
  toolchains/power9le-linux-gnu-vsx.toolchain.cmake
  toolchains/powerpc-linux-gnu.toolchain.cmake
  toolchains/powerpc64le-linux-gnu.toolchain.cmake
  toolchains/qnx700.toolchain.cmake
  toolchains/qnx710.toolchain.cmake
  toolchains/riscv32-unknown-elf.toolchain.cmake
  toolchains/riscv64-linux-gnu.toolchain.cmake
  toolchains/riscv64-unknown-elf.toolchain.cmake
  toolchains/riscv64-unknown-linux-gnu.llvm-toolchain.cmake
  toolchains/riscv64-unknown-linux-gnu.toolchain.cmake
  toolchains/th1520-v240.toolchain.cmake
  toolchains/v831.toolchain.cmake
Labels: cmake

#5147 arm optimization for convolution int8 packed unified elempack
  src/layer/arm/convolution_arm.cpp
  src/layer/arm/convolution_arm_asimddp.cpp
  src/layer/arm/convolution_arm_i8mm.cpp
  src/layer/arm/convolution_int8.h
  src/layer/arm/convolution_pack1to4_int8.h
  src/layer/arm/convolution_pack8to1_int8.h
  src/layer/arm/convolution_pack8to4_int8.h
  src/layer/arm/convolution_packed_int8.h
  tests/test_convolution_3.cpp
Labels: test, arm

#5148 Add print statements for 4 dimensions benchmark
  benchmark/benchncnn.cpp
  src/benchmark.cpp
  src/net.cpp
Labels: core

#5149 Prelu layer uses sse instruction _mm_load_ps but data can be misaligned so it must use _mm_loadu_ps
  src/layer/x86/prelu_x86.cpp
Labels: x86

#5151 enable arm neon intrinsics for msvc build
  CMakeLists.txt
  cmake/ncnn_add_layer.cmake
  src/CMakeLists.txt
  src/cpu.cpp
  src/layer/arm/absval_arm.cpp
  src/layer/arm/batchnorm_arm.cpp
  src/layer/arm/cast_bf16.h
  src/layer/arm/cast_fp16.h
  src/layer/arm/clip_arm.cpp
  src/layer/arm/clip_arm_asimdhp.cpp
  src/layer/arm/convolution_arm.cpp
  src/layer/arm/convolutiondepthwise_arm.cpp
  src/layer/arm/convolutiondepthwise_arm_asimdhp.cpp
  src/layer/arm/dropout_arm.cpp
  src/layer/arm/gru_arm_asimdhp.cpp
  src/layer/arm/hardsigmoid_arm.cpp
  src/layer/arm/hardsigmoid_arm_asimdhp.cpp
  src/layer/arm/hardswish_arm.cpp
  src/layer/arm/hardswish_arm_asimdhp.cpp
  src/layer/arm/innerproduct_arm.cpp
  src/layer/arm/innerproduct_arm_asimdhp.cpp
  src/layer/arm/innerproduct_fp16s.h
  src/layer/arm/lstm_arm_asimdhp.cpp
  src/layer/arm/neon_mathfun.h
  src/layer/arm/packing_arm.cpp
  src/layer/arm/padding_pack4.h
  src/layer/arm/padding_pack4_bf16s_fp16s.h
  src/layer/arm/padding_pack8_fp16s.h
  src/layer/arm/padding_pack8_int8.h
  src/layer/arm/pooling_arm.cpp
  src/layer/arm/prelu_arm.cpp
  src/layer/arm/relu_arm.cpp
  src/layer/arm/relu_arm_asimdhp.cpp
  src/mat.cpp
  src/mat.h
  src/mat_pixel.cpp
  src/mat_pixel_resize.cpp
  src/mat_pixel_rotate.cpp
Labels: core, arm, cmake

#5167 disable rtti and exceptions for msvc
  .github/workflows/windows-x64-cpu.yml
  CMakeLists.txt
  src/CMakeLists.txt
  src/layer/arm/arm_usability.h
  src/layer/erf.cpp
  src/simplemath.cpp
  src/simplemath.h
Labels: core, layer, arm

#5174 Update POWER Clang version docs
  docs/how-to-build/how-to-build.md
Labels: doc

#5169 pnnx convert nn.Upsample with recompute_scale_factor=True
  tools/pnnx/src/pass_level1/nn_Upsample.cpp
  tools/pnnx/src/save_onnx.cpp
  tools/pnnx/tests/ncnn/test_nn_Upsample.py
  tools/pnnx/tests/test_nn_Upsample.py
Labels: tool, pnnx

#5178 Update Vulkan dependency docs
  docs/how-to-build/how-to-build.md
Labels: doc

#5182 Fix "Rasberry" typo
  docs/how-to-build/how-to-build.md
Labels: doc

#5176 fix build with msvc arm64 asimdhp
  CMakeLists.txt
  src/layer/arm/arm_activation.h
  src/layer/arm/arm_usability.h
  src/layer/arm/batchnorm_arm_asimdhp.cpp
  src/layer/arm/binaryop_arm_asimdhp.cpp
  src/layer/arm/clip_arm_asimdhp.cpp
  src/layer/arm/convolution1d_arm.cpp
  src/layer/arm/convolution1d_packed_fp16s.h
  src/layer/arm/convolution_3x3_winograd_fp16s.h
  src/layer/arm/convolution_arm_asimdhp.cpp
  src/layer/arm/convolution_packed_fp16s.h
  src/layer/arm/convolutiondepthwise_arm_asimdhp.cpp
  src/layer/arm/deconvolution_arm_asimdhp.cpp
  src/layer/arm/deconvolutiondepthwise_arm_asimdhp.cpp
  src/layer/arm/dequantize_arm_asimdhp.cpp
  src/layer/arm/eltwise_arm_asimdhp.cpp
  src/layer/arm/gelu_arm_asimdhp.cpp
  src/layer/arm/gemm_arm_asimdhp.cpp
  src/layer/arm/hardsigmoid_arm_asimdhp.cpp
  src/layer/arm/hardswish_arm_asimdhp.cpp
  src/layer/arm/innerproduct_arm_asimdhp.cpp
  src/layer/arm/instancenorm_arm_asimdhp.cpp
  src/layer/arm/interp_arm_asimdhp.cpp
  src/layer/arm/interp_bicubic_fp16s.h
  src/layer/arm/mish_arm_asimdhp.cpp
  src/layer/arm/neon_mathfun_fp16s.h
  src/layer/arm/pooling_arm_asimdhp.cpp
  src/layer/arm/prelu_arm_asimdhp.cpp
  src/layer/arm/quantize_arm_asimdhp.cpp
  src/layer/arm/relu_arm_asimdhp.cpp
  src/layer/arm/sigmoid_arm_asimdhp.cpp
  src/layer/arm/softmax_arm_asimdhp.cpp
  src/layer/arm/swish_arm_asimdhp.cpp
  src/layer/arm/tanh_arm_asimdhp.cpp
  src/layer/arm/unaryop_arm_asimdhp.cpp
Labels: arm

#5185 detect avx512 isa with signal action on macos
  CMakeLists.txt
  src/cpu.cpp
Labels: core
