Repository Tencent/ncnn, pull requests merged in 2023-10, with the labels that each got.

#5083 add torch.view_as_real and torch.view_as_complex
  tools/pnnx/src/CMakeLists.txt
  tools/pnnx/src/pass_level2/torch_view_as_complex.cpp
  tools/pnnx/src/pass_level2/torch_view_as_real.cpp
  tools/pnnx/tests/CMakeLists.txt
  tools/pnnx/tests/test_torch_view_as_complex.py
  tools/pnnx/tests/test_torch_view_as_real.py
Labels: tool, pnnx

#4903 Add riscv float32 gemm
  src/layer/riscv/gemm_riscv.cpp
  src/layer/riscv/gemm_riscv.h
  src/layer/riscv/riscv_usability.h
Labels: riscv

#5060 Vulkan conv1d
  src/layer/vulkan/convolution1d_vulkan.cpp
  src/layer/vulkan/convolution1d_vulkan.h
  src/layer/vulkan/shader/convolution1d.comp
  src/layer/vulkan/shader/convolution1d_pack1to4.comp
  src/layer/vulkan/shader/convolution1d_pack1to8.comp
  src/layer/vulkan/shader/convolution1d_pack4.comp
  src/layer/vulkan/shader/convolution1d_pack4to1.comp
  src/layer/vulkan/shader/convolution1d_pack4to8.comp
  src/layer/vulkan/shader/convolution1d_pack8.comp
  src/layer/vulkan/shader/convolution1d_pack8to1.comp
  src/layer/vulkan/shader/convolution1d_pack8to4.comp
Labels: vulkan

#4373 Grid sample op
  docs/developer-guide/operators.md
  src/layer/gridsample.cpp
  src/layer/gridsample.h
  src/layer/x86/gridsample_bicubic_apply_interpolation.h
  src/layer/x86/gridsample_bicubic_compute_blob.h
  src/layer/x86/gridsample_bilinear_apply_interpolation.h
  src/layer/x86/gridsample_bilinear_compute_blob.h
  src/layer/x86/gridsample_compute_blob.h
  src/layer/x86/gridsample_nearest_apply_interpolation.h
  src/layer/x86/gridsample_nearest_compute_blob.h
  src/layer/x86/gridsample_x86.cpp
  src/layer/x86/gridsample_x86.h
  src/layer/x86/x86_usability.h
  tests/test_gridsample.cpp
  tools/modelwriter.h
  tools/pnnx/src/pass_ncnn/F_grid_sample.cpp
  tools/pnnx/tests/ncnn/test_F_grid_sample.py
Labels: tool, pnnx, test, layer, x86, doc

#5087 arm optimization for convolution int8 winograd unified elempack
  src/layer/arm/convolution_3x3_int8.h
  src/layer/arm/convolution_3x3_pack8to1_int8.h
  src/layer/arm/convolution_3x3_pack8to4_int8.h
  src/layer/arm/convolution_3x3_winograd_int8.h
  src/layer/arm/convolution_arm.cpp
  src/layer/arm/convolution_winograd_dot_int8.h
  src/layer/arm/convolution_winograd_dot_pack8to1_int8.h
  src/layer/arm/convolution_winograd_dot_pack8to4_int8.h
  src/layer/arm/convolution_winograd_transform_int8.h
  src/layer/arm/convolution_winograd_transform_pack4_int8.h
  src/layer/arm/convolution_winograd_transform_pack8_int8.h
  src/net.cpp
Labels: core, arm

#5020 Python ncnn with vulkan
  .github/workflows/release-python.yml
  python/README.md
  python/src/main.cpp
  setup.py
Labels: python

#5094 fix some warnings
  src/layer/arm/convolution_im2col_gemm_int8.h
Labels: arm

#5097 pnnx convert batchnorm function
  tools/pnnx/src/pass_level2/F_batch_norm.cpp
Labels: tool, pnnx

#5099 pnnx do not sanitize directory part
  tools/pnnx/src/main.cpp
Labels: tool, pnnx

#5105 fix build with ohos toolchain
  src/cpu.cpp
Labels: core

#5103 slice with indices
  docs/developer-guide/operators.md
  src/layer/arm/slice_arm.cpp
  src/layer/loongarch/slice_loongarch.cpp
  src/layer/mips/slice_mips.cpp
  src/layer/slice.cpp
  src/layer/slice.h
  src/layer/vulkan/slice_vulkan.cpp
  src/layer/x86/slice_x86.cpp
  tests/test_slice.cpp
  tools/pnnx/src/pass_ncnn/convert_torch_tensor_split.cpp
Labels: tool, pnnx, vulkan, test, layer, arm, loongarch, mips, x86, doc

#5107 pnnx drop sdap scale=None for compatiblity with old torch
  tools/pnnx/src/pass_level2/F_scaled_dot_product_attention.cpp
Labels: tool, pnnx

#5110 pnnx run test_inference by default
  tools/pnnx/src/ir.cpp
  tools/pnnx/src/save_ncnn.cpp
Labels: tool, pnnx

#5113 Fix indent errors
  tools/pnnx/src/save_ncnn.cpp
Labels: tool, pnnx

#5112 fix deconvolution x86 unaligned bias load
  src/layer/x86/deconvolution_x86.cpp
Labels: x86

#5116 Add description of build for Nintendo 3DS homebrew launcher
  docs/how-to-build/how-to-build.md
Labels: doc

#5119 deconvolution dynamic weight
  docs/developer-guide/operators.md
  src/layer/arm/convolution_arm.cpp
  src/layer/arm/deconvolution_arm.cpp
  src/layer/arm/deconvolution_arm.h
  src/layer/arm/deconvolutiondepthwise_arm.cpp
  src/layer/arm/deconvolutiondepthwise_arm.h
  src/layer/deconvolution.cpp
  src/layer/deconvolution.h
  src/layer/deconvolution1d.cpp
  src/layer/deconvolution1d.h
  src/layer/deconvolutiondepthwise.cpp
  src/layer/deconvolutiondepthwise.h
  src/layer/deconvolutiondepthwise1d.cpp
  src/layer/deconvolutiondepthwise1d.h
  src/layer/loongarch/convolution_loongarch.cpp
  src/layer/loongarch/deconvolution_loongarch.cpp
  src/layer/loongarch/deconvolution_loongarch.h
  src/layer/loongarch/deconvolutiondepthwise_loongarch.cpp
  src/layer/loongarch/deconvolutiondepthwise_loongarch.h
  src/layer/mips/convolution_mips.cpp
  src/layer/mips/deconvolution_mips.cpp
  src/layer/mips/deconvolution_mips.h
  src/layer/mips/deconvolutiondepthwise_mips.cpp
  src/layer/mips/deconvolutiondepthwise_mips.h
  src/layer/riscv/convolution_riscv.cpp
  src/layer/riscv/deconvolution_riscv.cpp
  src/layer/riscv/deconvolution_riscv.h
  src/layer/riscv/deconvolutiondepthwise_riscv.cpp
  src/layer/riscv/deconvolutiondepthwise_riscv.h
  src/layer/vulkan/deconvolution_vulkan.cpp
  src/layer/vulkan/deconvolutiondepthwise_vulkan.cpp
  src/layer/x86/convolution_x86.cpp
  src/layer/x86/deconvolution_x86.cpp
  src/layer/x86/deconvolution_x86.h
  src/layer/x86/deconvolutiondepthwise_x86.cpp
  src/layer/x86/deconvolutiondepthwise_x86.h
  tests/test_deconvolution.cpp
  tests/test_deconvolution1d.cpp
  tests/test_deconvolutiondepthwise1d.cpp
  tests/test_deconvolutiondepthwise_1.cpp
  tools/pnnx/src/pass_ncnn/F_conv_transpose1d.cpp
  tools/pnnx/src/pass_ncnn/F_conv_transpose2d.cpp
  tools/pnnx/tests/ncnn/test_F_conv_transpose1d.py
  tools/pnnx/tests/ncnn/test_F_conv_transpose2d.py
Labels: riscv, tool, pnnx, vulkan, test, layer, arm, loongarch, mips, x86, doc
