Repository Tencent/ncnn, pull requests merged in 2023-12, with the labels that each got.

#5200 optimize resize bilinear and compress font data
  src/layer/x86/padding_x86.cpp
  src/layer/x86/x86_usability.h
  src/mat_pixel_drawing.cpp
  src/mat_pixel_drawing_font.h
  src/mat_pixel_resize.cpp
Labels: core, x86

#5067 Python pnnx with pnnx binary
  .gitignore
  tools/pnnx/python/README.md
  tools/pnnx/python/examples/convert.py
  tools/pnnx/python/examples/export.py
  tools/pnnx/python/pnnx/__init__.py
  tools/pnnx/python/pnnx/utils/__init__.py
  tools/pnnx/python/pnnx/utils/convert.py
  tools/pnnx/python/pnnx/utils/export.py
  tools/pnnx/python/pnnx/utils/utils.py
  tools/pnnx/python/requirements.txt
  tools/pnnx/python/setup.py.i
  tools/pnnx/python/tests/test_convert.py
  tools/pnnx/python/tests/test_dynamicinput_convert.py
  tools/pnnx/python/tests/test_dynamicinput_export.py
  tools/pnnx/python/tests/test_export.py
  tools/pnnx/python/tests/test_naiveinput_convert.py
  tools/pnnx/python/tests/test_naiveinput_export.py
  tools/pnnx/setup.py
Labels: tool, pnnx

#5220 Update FAQ-ncnn-produce-wrong-result.md
  docs/how-to-use-and-FAQ/FAQ-ncnn-produce-wrong-result.md
Labels: doc

#5228 Document `libomp-dev` dependency
  docs/how-to-build/how-to-build.md
Labels: doc

#5229 python: document `CMAKE_TOOLCHAIN_FILE` env var
  python/README.md
Labels: python

#5231 initialize cpu thread affinity mask all to all cores
  src/cpu.cpp
Labels: core

#5232 python pnnx return optimized model
  tools/pnnx/python/README.md
  tools/pnnx/python/pnnx/utils/convert.py
  tools/pnnx/python/pnnx/utils/export.py
  tools/pnnx/python/tests/test_convert.py
  tools/pnnx/python/tests/test_dynamicinput_convert.py
  tools/pnnx/python/tests/test_dynamicinput_export.py
  tools/pnnx/python/tests/test_export.py
  tools/pnnx/python/tests/test_naiveinput_convert.py
  tools/pnnx/python/tests/test_naiveinput_export.py
Labels: tool, pnnx

#5233 enable uniform 16bit and 8bit when available, fix validation error in fp16sa shader
  src/gpu.cpp
Labels: core

#5234 fix nvidia vulkan crash on exit
  benchmark/benchncnn.cpp
  src/gpu.cpp
  tests/testutil.h
Labels: core, test

#5237 fix the missing elemsize in vkimagemat from_android_hardware_buffer
  src/mat.cpp
Labels: core

#5238 pnnx nn.Identity test
  tools/pnnx/README.md
  tools/pnnx/tests/CMakeLists.txt
  tools/pnnx/tests/ncnn/CMakeLists.txt
  tools/pnnx/tests/ncnn/test_nn_Identity.py
  tools/pnnx/tests/test_nn_Identity.py
Labels: tool, pnnx

#5239 pnnx export with ptpath
  .ci/pnnx.yml
  tools/pnnx/python/README.md
  tools/pnnx/python/pnnx/utils/export.py
Labels: tool, pnnx

#5241 fix simplecv Mat templated ptr
  src/simpleocv.h
Labels: core

#5165 Add more GPU-related python bindings
  python/src/main.cpp
Labels: python

#5244 fix some cpu.cpp warning
  src/cpu.cpp
Labels: core

#5245 requantize: Use activation_ss in fused_activation.h
  src/layer/requantize.cpp
Labels: layer
