Repository Tencent/ncnn, pull requests merged in 2024-10, with the labels that each got.

#5733 multiheadattention int8 quantization
  docs/developer-guide/operators.md
  src/layer/arm/multiheadattention_arm.cpp
  src/layer/multiheadattention.cpp
  src/layer/multiheadattention.h
  src/layer/vulkan/multiheadattention_vulkan.cpp
  src/layer/vulkan/multiheadattention_vulkan.h
  src/layer/x86/multiheadattention_x86.cpp
  tests/test_multiheadattention_1.cpp
  tools/modelwriter.h
  tools/quantize/ncnn2int8.cpp
Labels: tool, vulkan, test, layer, arm, x86, doc

#5736 pnnx drop onnx weight-like graph input
  tools/pnnx/src/CMakeLists.txt
  tools/pnnx/src/load_onnx.cpp
  tools/pnnx/src/pass_onnx/eliminate_initializer_input.cpp
  tools/pnnx/src/pass_onnx/eliminate_initializer_input.h
Labels: tool, pnnx

#5740 improve compatibility of harmonyos cpu topology abi
  src/cpu.cpp
Labels: core

#5739 blacklist mesa vulkan cooperative matrix feature
  src/gpu.cpp
  src/gpu.h
  src/vulkan_header_fix.h
Labels: core

#5745 layernorm x86 optimization, re
  src/layer/x86/layernorm_x86.cpp
Labels: x86

#5742 Fix #5741 don't crash when vkCreateDevice fails
  src/gpu.cpp
  src/gpu.h
  src/net.cpp
Labels: core

#5746 arm neon optimization for layernorm fp32/bf16s/fp16s
  src/layer/arm/layernorm_arm.cpp
  src/layer/arm/layernorm_arm.h
  src/layer/arm/layernorm_arm_asimdhp.cpp
  src/net.cpp
  tests/testutil.cpp
Labels: core, test, arm

#5748 pnnx torch 2.5
  .ci/pnnx.yml
  tools/pnnx/src/pass_level2/F_scaled_dot_product_attention.cpp
  tools/pnnx/tests/ncnn/test_F_layer_norm.py
  tools/pnnx/tests/ncnn/test_nn_LayerNorm.py
  tools/pnnx/tests/onnx/test_F_relu.py
  tools/pnnx/tests/onnx/test_convnext_tiny.py
  tools/pnnx/tests/onnx/test_mobilenet_v2.py
  tools/pnnx/tests/onnx/test_mobilenet_v3_small.py
  tools/pnnx/tests/onnx/test_nn_ReLU.py
  tools/pnnx/tests/onnx/test_resnet18.py
  tools/pnnx/tests/onnx/test_shufflenet_v2_x1_0.py
  tools/pnnx/tests/onnx/test_squeezenet1_1.py
  tools/pnnx/tests/onnx/test_swin_t.py
  tools/pnnx/tests/onnx/test_vit_b_32.py
Labels: tool, pnnx

#5755 pnnx do not fold tensor with dynamic shape, use fp32 module by default
  tools/pnnx/src/ir.cpp
  tools/pnnx/src/pass_level0/shape_inference.cpp
Labels: tool, pnnx

#5762 disable x86 auto recip optimization for potential precision loss
  CMakeLists.txt
  src/CMakeLists.txt
Labels: core
