Repository Tencent/ncnn, pull requests merged in 2024-09, with the labels that each got.

#5667 embed int8 quantization
  .ci/pnnx.yml
  docs/developer-guide/operators.md
  src/layer/embed.cpp
  src/layer/embed.h
  tests/CMakeLists.txt
  tests/test_embed.cpp
  tools/modelwriter.h
  tools/quantize/ncnn2int8.cpp
Labels: tool, test, layer, doc

#5668 arm neon optimzation for rmsnorm
  src/layer/arm/rmsnorm_arm.cpp
  src/layer/arm/rmsnorm_arm.h
  src/layer/arm/rmsnorm_arm_asimdhp.cpp
Labels: arm

#5672 x86 sse2/avx/avx512 optimization for rmsnorm
  src/layer/x86/rmsnorm_x86.cpp
  src/layer/x86/rmsnorm_x86.h
Labels: x86

#5676 update modelwriter for rmsnorm
  tools/modelwriter.h
Labels: tool

#5709 fix: typo
  docs/faq.en.md
Labels: doc
