Repository Tencent/ncnn, pull requests merged in 2024-07, with the labels that each got.

#5547 Add mingw ci and building document
  .github/workflows/windows-mingw.yml
  README.md
  docs/how-to-build/how-to-build.md
Labels: doc

#5534 Add wasi support
  CMakeLists.txt
  src/CMakeLists.txt
  src/benchmark.cpp
  src/cpu.cpp
Labels: core

#5553 pnnx convert onnx rnn lstm gru
  tools/pnnx/src/CMakeLists.txt
  tools/pnnx/src/load_onnx.cpp
  tools/pnnx/src/pass_level2/nn_GRU.cpp
  tools/pnnx/src/pass_level2/nn_LSTM.cpp
  tools/pnnx/src/pass_level2/nn_RNN.cpp
  tools/pnnx/src/pass_onnx/dead_code_elimination.cpp
  tools/pnnx/src/pass_onnx/eliminate_noop.cpp
  tools/pnnx/tests/onnx/CMakeLists.txt
  tools/pnnx/tests/onnx/test_nn_GRU.py
  tools/pnnx/tests/onnx/test_nn_LSTM.py
  tools/pnnx/tests/onnx/test_nn_RNN.py
Labels: tool, pnnx

#5567 add esp32 build document and ci Refs #5536
  .github/workflows/esp32.yml
  docs/how-to-build/how-to-build.md
  toolchains/esp32.toolchain.cmake
Labels: doc, cmake

#5575 pnnx convert onnx multiheadattention
  tools/pnnx/src/pass_level2.cpp
  tools/pnnx/src/pass_level2/F_hardswish.cpp
  tools/pnnx/src/pass_level2/torch_max.cpp
  tools/pnnx/src/pass_level2/torch_mean.cpp
  tools/pnnx/src/pass_level2/torch_min.cpp
  tools/pnnx/src/pass_level2/torch_prod.cpp
  tools/pnnx/src/pass_level2/torch_sum.cpp
  tools/pnnx/src/pass_level5/fuse_multiheadattention.cpp
  tools/pnnx/src/pass_onnx/fuse_constant_as_attribute.cpp
  tools/pnnx/tests/onnx/CMakeLists.txt
  tools/pnnx/tests/onnx/test_F_hardshrink.py
  tools/pnnx/tests/onnx/test_F_hardsigmoid.py
  tools/pnnx/tests/onnx/test_F_hardswish.py
  tools/pnnx/tests/onnx/test_nn_Hardshrink.py
  tools/pnnx/tests/onnx/test_nn_Hardsigmoid.py
  tools/pnnx/tests/onnx/test_nn_MultiheadAttention.py
Labels: tool, pnnx

#5578 fix potential fp16s bf16s conflicts on arm vfpv4
  src/net.cpp
  tests/testutil.cpp
Labels: core, test

#5579 pnnx convert onnx sdap reduce min/max/mean/sum/prod
  tools/pnnx/src/pass_level2/F_scaled_dot_product_attention.cpp
  tools/pnnx/src/pass_level2/torch_max.cpp
  tools/pnnx/src/pass_level2/torch_min.cpp
  tools/pnnx/src/pass_level2/torch_prod.cpp
  tools/pnnx/tests/onnx/CMakeLists.txt
  tools/pnnx/tests/onnx/test_F_scaled_dot_product_attention.py
  tools/pnnx/tests/onnx/test_torch_max.py
  tools/pnnx/tests/onnx/test_torch_mean.py
  tools/pnnx/tests/onnx/test_torch_min.py
  tools/pnnx/tests/onnx/test_torch_prod.py
  tools/pnnx/tests/onnx/test_torch_sum.py
Labels: tool, pnnx

#5584 Fix tanh typo for rvv.
  src/layer/riscv/rvv_mathfun.h
  src/layer/riscv/rvv_mathfun_fp16s.h
Labels: riscv

#5593 use ruapu detection only on windows arm, enable cpu powerinfo with mingw compiler
  src/cpu.cpp
  src/cpu.h
  src/platform.h.in
Labels: core

#5589 pnnx fuse onnx sdpa pattern and ncnn qdim mha fusion
  tools/pnnx/src/CMakeLists.txt
  tools/pnnx/src/pass_level5/fuse_scaled_dot_product_attention.cpp
  tools/pnnx/src/pass_ncnn/F_scaled_dot_product_attention.cpp
Labels: tool, pnnx

#5598 pnnx logaddexp
  tools/pnnx/src/ir.cpp
  tools/pnnx/src/pass_level3/fuse_expression.cpp
  tools/pnnx/src/pass_level5/eval_expression.cpp
  tools/pnnx/src/pass_ncnn/expand_expression.cpp
  tools/pnnx/tests/CMakeLists.txt
  tools/pnnx/tests/test_torch_logaddexp.py
Labels: tool, pnnx

#5588 Add warning and recommend to use pnnx
  tools/onnx/onnx2ncnn.cpp
Labels: tool

#5557 Updated use-ncnn-with-pytorch-or-onnx document
  docs/how-to-use-and-FAQ/use-ncnn-with-pytorch-or-onnx.md
Labels: tool, doc

#5603 arm/convolution_3x3_pack1to8_fp16s: prefer ldr/str over ld1/st1
  src/layer/arm/convolution_3x3_pack1to8_fp16s.h
Labels: arm
