Repository Tencent/ncnn, pull requests merged in 2024-04, with the labels that each got.

#5396 try more known vulkan library with simplevk
  src/simplevk.cpp
Labels: core

#5397 fix test reduction warning
  tests/test_reduction.cpp
Labels: test

#5398 fix rvv extract blob with fp16 enabled, fix #5360
  src/net.cpp
Labels: core

#5399 add visionos ci
  .github/workflows/tvos-cpu.yml
  .github/workflows/tvos.yml
  .github/workflows/visionos.yml
  .github/workflows/watchos-cpu.yml
  .github/workflows/watchos.yml
  CMakeLists.txt
  README.md
  cmake/ncnn_add_layer.cmake
  src/CMakeLists.txt
  toolchains/ios.toolchain.cmake
Labels: core, cmake

#5402 unified mac-catalyst ci
  .github/workflows/mac-catalyst-arm64-cpu.yml
  .github/workflows/mac-catalyst-arm64-gpu.yml
  .github/workflows/mac-catalyst-x64-cpu.yml
  .github/workflows/mac-catalyst-x64-gpu.yml
  .github/workflows/mac-catalyst.yml
  .github/workflows/tvos.yml
  README.md
  src/CMakeLists.txt
Labels: core

#5405 add apple A17 and M3 family macro
  src/cpu.cpp
Labels: core

#4763 Add destroy_gpu_instance() function new parameter need_wait about it will wait for all devices to be idle before destroy
  src/gpu.cpp
  src/gpu.h
Labels: core, python

#5410 fix create_pipeline crash in vulkan-enabled layer without calling load_param/load_model first
  src/layer.cpp
Labels: core

#5416 fix ncnn tools crash with compound layer creation, write gemm weight data
  tools/modelwriter.h
  tools/ncnnoptimize.cpp
  tools/quantize/ncnn2table.cpp
Labels: tool

#5422 fix arm riscv build with NCNN_BF16=OFF
  src/net.cpp
Labels: core

#5426 x86 optimization for convolution tiled gemm
  src/layer/x86/convolution_im2col_gemm.h
  src/layer/x86/convolution_im2col_gemm_int8.h
  src/layer/x86/convolution_x86.cpp
  src/layer/x86/convolution_x86.h
  tests/test_convolution_2.cpp
Labels: test, x86

#5427 fix instruction extension dispatch
  src/layer/arm/convolution_im2col_gemm_int8.h
  src/layer/arm/convolution_packed_int8.h
  src/layer/arm/innerproduct_fp16s.h
  src/layer/arm/innerproduct_gemm_fp16s.h
  src/layer/x86/cast_bf16.h
  src/layer/x86/convolution_3x3_winograd_int8.h
  src/layer/x86/convolution_im2col_gemm_int8.h
  src/layer/x86/convolution_packed_int8.h
Labels: arm, x86

#5436 c_api: Fix function prototypes with no argument
  src/c_api.h
Labels: core
