Repository Tencent/ncnn, pull requests merged in 2024-01, with the labels that each got.

#5253 pnnx handle more softmin logsoftmax dtype, fuse static full range slices to tensor_split
  tools/pnnx/src/pass_level1/nn_Conv2d.cpp
  tools/pnnx/src/pass_level2/F_log_softmax.cpp
  tools/pnnx/src/pass_level2/F_softmin.cpp
  tools/pnnx/src/pass_level5/fuse_slice_to_tensor_split.cpp
  tools/pnnx/src/pass_ncnn/solve_batch_index.cpp
  tools/pnnx/tests/test_pnnx_fuse_slice_to_tensor_split.py
Labels: tool, pnnx

#5266 do not cache temporary blob for uploading weight
  src/net.cpp
Labels: core

#5268 docs: update FAQ-ncnn-vulkan.md
  docs/how-to-use-and-FAQ/FAQ-ncnn-vulkan.md
Labels: doc

#5270 feat mask for disable threading, make some extractor setter no-op
  build-android.cmd
  build.sh
  docs/Home.md
  docs/developer-guide/layer-feat-mask.md
  docs/how-to-build/how-to-build.md
  docs/how-to-use-and-FAQ/FAQ-ncnn-vulkan.md
  docs/how-to-use-and-FAQ/use-ncnn-with-alexnet.md
  docs/how-to-use-and-FAQ/use-ncnn-with-alexnet.zh.md
  src/net.cpp
  src/net.h
Labels: core, doc

#5272 workaround l2 norm produce -inf value with subnormals
  src/layer/reduction.cpp
Labels: layer

#5273 pnnx do not eliminate noop math if shape changes, improve torch-2.1 mha attn_mask detection
  tools/pnnx/src/pass_level1/nn_MultiheadAttention.cpp
  tools/pnnx/src/pass_level3/eliminate_noop_math.cpp
Labels: tool, pnnx

#5274 pnnx model binary over 4g
  tools/pnnx/src/storezip.cpp
  tools/pnnx/src/storezip.h
Labels: tool, pnnx

#5288 pnnx handle index_put with empty indices and scalar values
  tools/pnnx/src/ir.cpp
  tools/pnnx/src/pass_level3/fuse_expression.cpp
  tools/pnnx/src/pass_level5/eval_expression.cpp
  tools/pnnx/tests/test_Tensor_index_put.py
Labels: tool, pnnx

#5289 pnnx convert some cudnn conv2d variants
  tools/pnnx/src/ir.cpp
  tools/pnnx/src/pass_level2/F_conv2d.cpp
  tools/pnnx/src/pass_level3/fuse_expression.cpp
Labels: tool, pnnx

#5292 fix cast armv7 sigbus when loading fp16 model
  src/layer/arm/cast_bf16.h
  src/layer/arm/cast_fp16.h
Labels: arm

#5287 check vulkan fp16 uniform support and implement lfp conversion without fp16u
  docs/developer-guide/glsl-extension.md
  docs/developer-guide/glsl-extension.zh.md
  src/gpu.cpp
  src/gpu.h
  src/net.cpp
  src/option.cpp
  src/option.h
  tests/testutil.cpp
Labels: core, test, doc

#5298 report vulkan cm 8x8x16 config, enable fp16a cm
  src/gpu.cpp
  src/gpu.h
  src/layer/vulkan/shader/convolution_pack4_1x1s1d1_khr_cm_16_16_16.comp
  src/layer/vulkan/shader/convolution_pack4_1x1s1d1_khr_cm_16_8_8.comp
  src/layer/vulkan/shader/convolution_pack4_1x1s1d1_nv_cm_16_16_16.comp
  src/layer/vulkan/shader/convolution_pack4_1x1s1d1_nv_cm_16_8_8.comp
  src/layer/vulkan/shader/convolution_pack4_3x3s1d1_winograd_gemm_khr_cm_16_16_16.comp
  src/layer/vulkan/shader/convolution_pack4_3x3s1d1_winograd_gemm_khr_cm_16_8_8.comp
  src/layer/vulkan/shader/convolution_pack4_3x3s1d1_winograd_gemm_nv_cm_16_16_16.comp
  src/layer/vulkan/shader/convolution_pack4_3x3s1d1_winograd_gemm_nv_cm_16_8_8.comp
Labels: core, vulkan

#5301 chore: Fix multiple typos
  docs/developer-guide/glsl-extension.md
  tools/pnnx/src/pass_level2/F_scaled_dot_product_attention.cpp
  tools/pnnx/src/pass_ncnn/insert_reshape_global_pooling.cpp
Labels: tool, pnnx, doc

#5302 chore: add markdown code highlight
  docs/how-to-build/build-mlir2ncnn.md
  docs/how-to-build/how-to-build.md
Labels: doc

#5307 port stb image optimization
  src/stb_image.h
Labels: core

#5309 x86 avx512 optimization for mish
  src/layer/x86/mish_x86.cpp
Labels: x86

#5310 convolution_x86: Fix typo in logging
  src/layer/x86/convolution_x86.cpp
Labels: x86

#5303 RVV: Refine riscv gemm fp32
  src/layer/riscv/gemm_riscv.cpp
  src/layer/riscv/riscv_usability.h
Labels: riscv

#5320 python pnnx add option to change fp16 parameter
  tools/pnnx/python/pnnx/utils/convert.py
  tools/pnnx/python/pnnx/utils/export.py
Labels: tool, pnnx
