Repository Tencent/ncnn, pull requests merged in 2024-06, with the labels that each got.

#5485 pnnx fuse simple onnx shape slice chain
  tools/pnnx/src/ir.cpp
  tools/pnnx/src/pass_level3/fuse_expression.cpp
  tools/pnnx/src/pass_ncnn/torch_squeeze.cpp
Labels: tool, pnnx

#5486 pnnx onnx fold partial shape constant, fix dce node lost bug
  tools/pnnx/src/CMakeLists.txt
  tools/pnnx/src/load_onnx.cpp
  tools/pnnx/src/pass_level2/F_conv_transpose2d.cpp
  tools/pnnx/src/pass_level2/F_hardsigmoid.cpp
  tools/pnnx/src/pass_level2/F_interpolate.cpp
  tools/pnnx/src/pass_level2/Tensor_slice.cpp
  tools/pnnx/src/pass_level3/fuse_expression.cpp
  tools/pnnx/src/pass_level5/fuse_layernorm.cpp
  tools/pnnx/src/pass_onnx.cpp
  tools/pnnx/src/pass_onnx/dead_code_elimination.cpp
  tools/pnnx/src/pass_onnx/eliminate_noop.cpp
  tools/pnnx/src/pass_onnx/fold_constants.cpp
  tools/pnnx/src/pass_onnx/fold_constants.h
Labels: tool, pnnx

#5437 create_gpu_instance: do not perform destroy_gpu_instance()
  src/gpu.cpp
Labels: core

#5464 fix mingw64 avx crash and termux build issue
  src/CMakeLists.txt
  src/layer/x86/avx_mathfun.h
  src/layer/x86/binaryop_x86.cpp
  src/layer/x86/padding_pack16.h
  src/layer/x86/padding_pack4.h
  src/layer/x86/padding_pack8.h
  src/layer/x86/unaryop_x86.cpp
Labels: core, x86

#5488 pnnx fill tensor data for ort inference, fix output shape2 mismatch
  tools/pnnx/src/pass_level5/fuse_select_to_unbind.cpp
  tools/pnnx/src/pass_onnx/fold_constants.cpp
  tools/pnnx/src/pass_onnx/shape_inference.cpp
Labels: tool, pnnx

#5490 arm handle allocation failures
  src/layer/arm/concat_arm.cpp
  src/layer/arm/convolution_3x3_winograd.h
  src/layer/arm/convolution_3x3_winograd_bf16s.h
  src/layer/arm/convolution_3x3_winograd_fp16s.h
  src/layer/arm/convolution_3x3_winograd_int8.h
  src/layer/arm/convolution_arm.cpp
  src/layer/arm/convolution_arm_asimddp.cpp
  src/layer/arm/convolution_arm_asimdhp.cpp
  src/layer/arm/convolution_arm_i8mm.cpp
  src/layer/arm/convolution_im2col_gemm.h
  src/layer/arm/convolution_im2col_gemm_bf16s.h
  src/layer/arm/convolution_im2col_gemm_fp16s.h
  src/layer/arm/convolution_im2col_gemm_int8.h
  src/layer/arm/convolutiondepthwise_arm.cpp
  src/layer/arm/convolutiondepthwise_arm_asimdhp.cpp
  src/layer/arm/crop_arm.cpp
  src/layer/arm/deconvolution_arm.cpp
  src/layer/arm/deconvolution_arm_asimdhp.cpp
  src/layer/arm/deconvolutiondepthwise_arm.cpp
  src/layer/arm/deconvolutiondepthwise_arm_asimdhp.cpp
  src/layer/arm/gemm_arm.cpp
  src/layer/arm/gemm_arm_asimdhp.cpp
  src/layer/arm/gemm_arm_vfpv4.cpp
  src/layer/arm/innerproduct_arm.cpp
  src/layer/arm/innerproduct_arm_asimdhp.cpp
  src/layer/arm/innerproduct_arm_vfpv4.cpp
  src/layer/arm/multiheadattention_arm.cpp
  src/layer/arm/padding_arm.cpp
  src/layer/arm/shufflechannel_arm.cpp
  src/layer/arm/slice_arm.cpp
Labels: arm

#5496 more x86 vnni optimization for lstm
  src/layer/x86/lstm_int8.h
  src/layer/x86/lstm_x86.cpp
  src/layer/x86/lstm_x86.h
  src/layer/x86/lstm_x86_avx512vnni.cpp
  src/layer/x86/lstm_x86_avxvnni.cpp
  src/layer/x86/x86_usability.h
Labels: x86

#5498 fix unexpected abs error on powerpc vsx
  .github/workflows/linux-ppc64-cpu-gcc.yml
  src/layer/x86/avx512_mathfun.h
  src/layer/x86/avx_mathfun.h
  src/layer/x86/sse_mathfun.h
Labels: x86

#5492 test x86 arm convolution oom
  .ci/test-coverage.yml
  src/layer/convolution.cpp
  tests/test_convolution_oom.cpp
  tests/test_softmax_oom.cpp
  tests/testutil.cpp
  tests/testutil.h
Labels: test, layer

#5499 Update ruapu.h to the latest version.
  src/ruapu.h
Labels: core

#5501 test slice oom
  .github/workflows/test-coverage.yml
  src/layer/loongarch/slice_loongarch.cpp
  src/layer/mips/slice_mips.cpp
  tests/test_slice_oom.cpp
Labels: test, loongarch, mips

#5502 test concat oom
  .github/workflows/test-coverage.yml
  src/layer/arm/concat_arm.cpp
  src/layer/x86/concat_x86.cpp
  tests/test_concat_oom.cpp
Labels: test, arm, x86

#5516 pnnx convert onnx pad linear sigmoid softmax relu
  tools/pnnx/src/pass_level2/F_softmax.cpp
  tools/pnnx/tests/onnx/CMakeLists.txt
  tools/pnnx/tests/onnx/test_F_linear.py
  tools/pnnx/tests/onnx/test_F_sigmoid.py
  tools/pnnx/tests/onnx/test_F_softmax.py
  tools/pnnx/tests/onnx/test_nn_ConstantPad1d.py
  tools/pnnx/tests/onnx/test_nn_ConstantPad2d.py
  tools/pnnx/tests/onnx/test_nn_ConstantPad3d.py
  tools/pnnx/tests/onnx/test_nn_Linear.py
  tools/pnnx/tests/onnx/test_nn_ReLU.py
  tools/pnnx/tests/onnx/test_nn_ReflectionPad1d.py
  tools/pnnx/tests/onnx/test_nn_ReflectionPad2d.py
  tools/pnnx/tests/onnx/test_nn_ReplicationPad1d.py
  tools/pnnx/tests/onnx/test_nn_ReplicationPad2d.py
  tools/pnnx/tests/onnx/test_nn_ReplicationPad3d.py
  tools/pnnx/tests/onnx/test_nn_Sigmoid.py
  tools/pnnx/tests/onnx/test_nn_Softmax.py
Labels: tool, pnnx

#5519 mha allow qdim differs from embed_dim
  src/layer/arm/multiheadattention_arm.cpp
  src/layer/multiheadattention.cpp
  src/layer/vulkan/multiheadattention_vulkan.cpp
  src/layer/x86/multiheadattention_x86.cpp
  tests/test_multiheadattention.cpp
  tests/test_multiheadattention_oom.cpp
Labels: vulkan, test, layer, arm, x86

#5521 fix: add NCNN_PLATFORM_API macro for VkAndroidHardwareBufferImageAllo…
  src/allocator.cpp
Labels: core

#5522 pnnx convert onnx resize upsample
  tools/pnnx/src/pass_level2/F_interpolate.cpp
  tools/pnnx/src/pass_ncnn/F_interpolate.cpp
  tools/pnnx/src/pass_onnx/fuse_constant_as_attribute.cpp
  tools/pnnx/tests/onnx/CMakeLists.txt
  tools/pnnx/tests/onnx/test_F_interpolate.py
  tools/pnnx/tests/onnx/test_F_upsample.py
  tools/pnnx/tests/onnx/test_F_upsample_bilinear.py
  tools/pnnx/tests/onnx/test_F_upsample_nearest.py
  tools/pnnx/tests/onnx/test_nn_Upsample.py
  tools/pnnx/tests/onnx/test_nn_UpsamplingBilinear2d.py
  tools/pnnx/tests/onnx/test_nn_UpsamplingNearest2d.py
  tools/pnnx/tests/onnx/test_nn_ZeroPad2d.py
Labels: tool, pnnx

#5526 multiheadattention scale param
  .ci/test-coverage.yml
  .github/workflows/linux-x64-gpu-clang.yml
  .github/workflows/linux-x64-gpu-gcc.yml
  .github/workflows/macos.yml
  .github/workflows/python.yml
  .github/workflows/test-coverage.yml
  .github/workflows/windows.yml
  docs/developer-guide/operators.md
  src/layer/arm/multiheadattention_arm.cpp
  src/layer/multiheadattention.cpp
  src/layer/multiheadattention.h
  src/layer/vulkan/multiheadattention_vulkan.cpp
  src/layer/x86/multiheadattention_x86.cpp
  tests/test_multiheadattention.cpp
Labels: vulkan, test, layer, arm, x86, doc

#5527 pnnx convert onnx avgpool maxpool
  tools/pnnx/src/pass_level2/F_avg_pool1d.cpp
  tools/pnnx/src/pass_level2/F_avg_pool2d.cpp
  tools/pnnx/src/pass_level2/F_avg_pool3d.cpp
  tools/pnnx/src/pass_level2/F_conv1d.cpp
  tools/pnnx/src/pass_level2/F_conv2d.cpp
  tools/pnnx/src/pass_level2/F_conv3d.cpp
  tools/pnnx/src/pass_level2/F_conv_transpose1d.cpp
  tools/pnnx/src/pass_level2/F_conv_transpose2d.cpp
  tools/pnnx/src/pass_level2/F_conv_transpose3d.cpp
  tools/pnnx/src/pass_level2/F_max_pool1d.cpp
  tools/pnnx/src/pass_level2/F_max_pool2d.cpp
  tools/pnnx/src/pass_level2/F_max_pool3d.cpp
  tools/pnnx/src/pass_level2/Tensor_select.cpp
  tools/pnnx/src/pass_level2/Tensor_slice.cpp
  tools/pnnx/src/pass_level5/eliminate_noop_slice.cpp
  tools/pnnx/src/pass_onnx.cpp
  tools/pnnx/src/pass_onnx/dead_code_elimination.cpp
  tools/pnnx/src/pass_onnx/fuse_constant_as_attribute.cpp
  tools/pnnx/src/pass_onnx/shape_inference.cpp
  tools/pnnx/tests/onnx/CMakeLists.txt
  tools/pnnx/tests/onnx/test_F_avg_pool1d.py
  tools/pnnx/tests/onnx/test_F_avg_pool2d.py
  tools/pnnx/tests/onnx/test_F_avg_pool3d.py
  tools/pnnx/tests/onnx/test_F_interpolate.py
  tools/pnnx/tests/onnx/test_F_max_pool1d.py
  tools/pnnx/tests/onnx/test_F_max_pool2d.py
  tools/pnnx/tests/onnx/test_F_max_pool3d.py
  tools/pnnx/tests/onnx/test_nn_AvgPool1d.py
  tools/pnnx/tests/onnx/test_nn_AvgPool2d.py
  tools/pnnx/tests/onnx/test_nn_AvgPool3d.py
  tools/pnnx/tests/onnx/test_nn_MaxPool1d.py
  tools/pnnx/tests/onnx/test_nn_MaxPool2d.py
  tools/pnnx/tests/onnx/test_nn_MaxPool3d.py
Labels: tool, pnnx
