Repository Tencent/ncnn, pull requests merged in 2024-08, with the labels that each got.

#5610 c_api surpport set_vulkan_device
  src/c_api.cpp
  src/c_api.h
Labels: core

#5617 pnnx handles sdpa batch index
  tools/pnnx/src/pass_ncnn/solve_batch_index.cpp
Labels: tool, pnnx

#5618 pnnx ci for torch 2.4
  .ci/pnnx.yml
  tools/pnnx/src/CMakeLists.txt
  tools/pnnx/src/load_onnx.cpp
  tools/pnnx/src/onnx-data.proto
  tools/pnnx/src/onnx-ml.proto
  tools/pnnx/src/onnx-operators-ml.proto
  tools/pnnx/src/pass_level5/fuse_multiheadattention.cpp
  tools/pnnx/src/pass_onnx.cpp
  tools/pnnx/src/pass_onnx/canonicalize.h
  tools/pnnx/src/pass_onnx/dead_code_elimination.h
  tools/pnnx/src/pass_onnx/eliminate_noop.h
  tools/pnnx/src/pass_onnx/fold_constants.h
  tools/pnnx/src/pass_onnx/fuse_constant_as_attribute.h
  tools/pnnx/src/pass_onnx/inline_containers.h
  tools/pnnx/src/pass_onnx/inline_if_graph.h
  tools/pnnx/src/pass_onnx/model_stat.h
  tools/pnnx/src/pass_onnx/nn_AdaptiveAvgPool2d.cpp
  tools/pnnx/src/pass_onnx/nn_AdaptiveAvgPool3d.cpp
  tools/pnnx/src/pass_onnx/nn_AvgPool2d.cpp
  tools/pnnx/src/pass_onnx/nn_AvgPool3d.cpp
  tools/pnnx/src/pass_onnx/nn_BatchNorm2d.cpp
  tools/pnnx/src/pass_onnx/nn_BatchNorm3d.cpp
  tools/pnnx/src/pass_onnx/nn_Conv2d.cpp
  tools/pnnx/src/pass_onnx/nn_Conv3d.cpp
  tools/pnnx/src/pass_onnx/nn_GELU.cpp
  tools/pnnx/src/pass_onnx/nn_LayerNorm.cpp
  tools/pnnx/src/pass_onnx/nn_Linear.cpp
  tools/pnnx/src/pass_onnx/nn_MaxPool2d.cpp
  tools/pnnx/src/pass_onnx/nn_MaxPool3d.cpp
  tools/pnnx/src/pass_onnx/nn_MultiheadAttention.cpp
  tools/pnnx/src/pass_onnx/shape_inference.h
  tools/pnnx/src/save_onnx.cpp
  tools/pnnx/tests/onnx/test_nn_ReLU.py
  tools/pnnx/tests/onnx/test_squeezenet1_1.py
  tools/pnnx/tests/onnx/test_swin_t.py
  tools/pnnx/tests/onnx/test_vit_b_32.py
Labels: tool, pnnx

#5622 pnnx2ncnn handle F.maxpool without dilation param
  tools/pnnx/src/pass_ncnn/F_max_pool1d.cpp
  tools/pnnx/src/pass_ncnn/F_max_pool2d.cpp
  tools/pnnx/src/pass_ncnn/F_max_pool3d.cpp
Labels: tool, pnnx

#5623 pnnx2ncnn convert torch.roll with one or two shifts
  tools/pnnx/src/CMakeLists.txt
  tools/pnnx/src/pass_ncnn/torch_roll.cpp
  tools/pnnx/tests/CMakeLists.txt
  tools/pnnx/tests/ncnn/CMakeLists.txt
  tools/pnnx/tests/ncnn/test_torch_roll.py
  tools/pnnx/tests/onnx/CMakeLists.txt
  tools/pnnx/tests/onnx/test_torch_roll.py
  tools/pnnx/tests/test_torch_roll.py
Labels: tool, pnnx

#5627 pnnx convert onnx resize with roi, torch.max torch.min with dim returns tuple
  tools/pnnx/src/ir.cpp
  tools/pnnx/src/pass_level2/F_interpolate.cpp
  tools/pnnx/src/pass_level2/torch_max.cpp
  tools/pnnx/src/pass_level2/torch_min.cpp
  tools/pnnx/src/pass_ncnn/torch_max.cpp
  tools/pnnx/src/pass_ncnn/torch_min.cpp
  tools/pnnx/src/pass_onnx/fuse_constant_as_attribute.cpp
Labels: tool, pnnx

#5628 pnnx convert nn.RMSNorm F.rms_norm
  tools/pnnx/src/CMakeLists.txt
  tools/pnnx/src/pass_level1/nn_RMSNorm.cpp
  tools/pnnx/src/pass_level2/F_rms_norm.cpp
  tools/pnnx/src/pass_level5.cpp
  tools/pnnx/src/pass_level5/fuse_static_rmsnorm.cpp
  tools/pnnx/src/pass_level5/fuse_static_rmsnorm.h
  tools/pnnx/src/pass_ncnn/solve_batch_index.cpp
  tools/pnnx/tests/CMakeLists.txt
  tools/pnnx/tests/test_F_rms_norm.py
  tools/pnnx/tests/test_nn_RMSNorm.py
Labels: tool, pnnx

#5629 pnnx drop torch.max torch.min indice node if not used
  tools/pnnx/src/pass_level2/torch_max.cpp
  tools/pnnx/src/pass_level2/torch_min.cpp
Labels: tool, pnnx

#5506 Add yolov8 ncnn example
  examples/CMakeLists.txt
  examples/yolov8.cpp
Labels: example

#5631 fix out of range read in convolution im2col aarch64
  src/layer/arm/convolution_im2col_gemm.h
  src/layer/arm/convolution_im2col_gemm_bf16s.h
Labels: arm

#5632 pnnx functionize do not create shadow op for identity consumers
  tools/pnnx/src/pass_level2.cpp
Labels: tool, pnnx

#5634 onnx2pnnx do not fold single constant for gemm weight
  tools/pnnx/src/pass_onnx.cpp
Labels: tool, pnnx

#5164 Add python binding for loading bin from memory.
  python/src/main.cpp
  python/tests/test_net.py
Labels: python

#5640 Fixed bug #5637
  examples/yolov8.cpp
Labels: example

#5659 pnnx fuse mobilevit style selfattention, onnx2pnnx handle more general gemm
  tools/pnnx/src/pass_level2/F_hardswish.cpp
  tools/pnnx/src/pass_level2/F_linear.cpp
  tools/pnnx/src/pass_level5/fuse_multiheadattention.cpp
Labels: tool, pnnx
