Repository Tencent/ncnn, pull requests merged in 2024-05, with the labels that each got.

#5444 clear warning: unused variable [-Wunused-variable] while building on x86-wsl platform.
  src/layer/fold.cpp
  src/layer/x86/deformableconv2d_pack16.h
  src/layer/x86/deformableconv2d_pack16to1.h
  src/layer/x86/deformableconv2d_pack16to4.h
  src/layer/x86/deformableconv2d_pack16to8.h
  src/layer/x86/deformableconv2d_pack1to16.h
  src/layer/x86/deformableconv2d_pack1to4.h
  src/layer/x86/deformableconv2d_pack1to8.h
  src/layer/x86/deformableconv2d_pack4.h
  src/layer/x86/deformableconv2d_pack4to1.h
  src/layer/x86/deformableconv2d_pack4to16.h
  src/layer/x86/deformableconv2d_pack4to8.h
  src/layer/x86/deformableconv2d_pack8.h
  src/layer/x86/deformableconv2d_pack8to1.h
  src/layer/x86/deformableconv2d_pack8to16.h
  src/layer/x86/deformableconv2d_pack8to4.h
  src/layer/x86/deformableconv2d_x86.cpp
Labels: layer, x86

#5446 add riscv-gnu-toolchain build guide;-)
  docs/how-to-build/how-to-build.md
Labels: doc

#5435 rnn/lstm/gru dynamic quantization
  .ci/test-coverage.yml
  cmake/ncnn_add_layer.cmake
  docs/how-to-use-and-FAQ/quantized-int8-inference.md
  src/CMakeLists.txt
  src/layer/arm/gru_arm.cpp
  src/layer/arm/gru_arm.h
  src/layer/arm/gru_arm_asimddp.cpp
  src/layer/arm/gru_arm_asimdhp.cpp
  src/layer/arm/gru_arm_vfpv4.cpp
  src/layer/arm/gru_int8.h
  src/layer/arm/lstm_arm.cpp
  src/layer/arm/lstm_arm.h
  src/layer/arm/lstm_arm_asimddp.cpp
  src/layer/arm/lstm_arm_asimdhp.cpp
  src/layer/arm/lstm_arm_vfpv4.cpp
  src/layer/arm/lstm_int8.h
  src/layer/arm/neon_mathfun.h
  src/layer/arm/rnn_arm.cpp
  src/layer/arm/rnn_arm.h
  src/layer/arm/rnn_arm_asimddp.cpp
  src/layer/arm/rnn_arm_asimdhp.cpp
  src/layer/arm/rnn_arm_vfpv4.cpp
  src/layer/arm/rnn_int8.h
  src/layer/gru.cpp
  src/layer/gru.h
  src/layer/lstm.cpp
  src/layer/lstm.h
  src/layer/riscv/gru_riscv.cpp
  src/layer/rnn.cpp
  src/layer/rnn.h
  src/layer/x86/lstm_int8.h
  src/layer/x86/lstm_x86.cpp
  src/layer/x86/lstm_x86.h
  src/layer/x86/lstm_x86_avx2.cpp
  src/layer/x86/lstm_x86_avx512vnni.cpp
  src/layer/x86/lstm_x86_avxvnni.cpp
  src/layer/x86/lstm_x86_xop.cpp
  src/layer/x86/x86_usability.h
  tests/test_gru.cpp
  tests/test_lstm.cpp
  tests/test_rnn.cpp
  tests/testutil.cpp
  tools/modelwriter.h
  tools/quantize/ncnn2int8.cpp
Labels: core, riscv, tool, test, layer, arm, x86, doc, cmake

#5456 pnnx bf16 data type
  tools/pnnx/python/pnnx/utils/utils.py
  tools/pnnx/src/ir.cpp
  tools/pnnx/src/ir.h
  tools/pnnx/src/load_torchscript.cpp
  tools/pnnx/src/main.cpp
  tools/pnnx/src/pass_level0/convert_half_to_float.cpp
  tools/pnnx/src/pass_level0/reset_device.cpp
  tools/pnnx/src/pass_level2/Tensor_new_empty.cpp
  tools/pnnx/src/pass_level2/Tensor_new_ones.cpp
  tools/pnnx/src/pass_level2/Tensor_new_zeros.cpp
  tools/pnnx/src/pass_level2/Tensor_to.cpp
  tools/pnnx/src/pass_level2/torch_arange.cpp
  tools/pnnx/src/pass_level2/torch_empty.cpp
  tools/pnnx/src/pass_level2/torch_empty_like.cpp
  tools/pnnx/src/pass_level2/torch_full.cpp
  tools/pnnx/src/pass_level2/torch_full_like.cpp
  tools/pnnx/src/pass_level2/torch_ones.cpp
  tools/pnnx/src/pass_level2/torch_ones_like.cpp
  tools/pnnx/src/pass_level2/torch_randn.cpp
  tools/pnnx/src/pass_level2/torch_randn_like.cpp
  tools/pnnx/src/pass_level2/torch_zeros.cpp
  tools/pnnx/src/pass_level2/torch_zeros_like.cpp
Labels: tool, pnnx

#5455 pnnx do not fold aliased tensors with inplace op
  tools/pnnx/src/pass_level0/shape_inference.cpp
Labels: tool, pnnx

#5457 pnnx replace ncnn input long type with int
  tools/pnnx/src/save_ncnn.cpp
Labels: tool, pnnx

#5458 pnnx load dynamo onnx of segmentation models
  tools/pnnx/src/load_onnx.cpp
  tools/pnnx/src/pass_level2/F_interpolate.cpp
  tools/pnnx/src/pass_ncnn/F_interpolate.cpp
  tools/pnnx/src/pass_ncnn/eliminate_output.cpp
  tools/pnnx/src/pass_onnx.cpp
  tools/pnnx/src/pass_onnx/dead_code_elimination.cpp
Labels: tool, pnnx

#5469 windows clang ci
  .github/workflows/windows-clang.yml
  CMakeLists.txt
  cmake/ncnn_add_layer.cmake
  src/CMakeLists.txt
  src/layer/arm/arm_activation.h
  src/layer/arm/arm_usability.h
  src/layer/arm/batchnorm_arm_asimdhp.cpp
  src/layer/arm/neon_mathfun_fp16s.h
  src/layer/arm/pooling_arm_asimdhp.cpp
  src/layer/arm/prelu_arm_asimdhp.cpp
  src/layer/arm/quantize_arm_asimdhp.cpp
  src/layer/x86/x86_usability.h
Labels: core, arm, x86, cmake

#5472 Update vulkan-notes.md
  docs/how-to-use-and-FAQ/vulkan-notes.md
Labels: doc

#5483 pnnx fix onnx bn silu
  tools/pnnx/src/CMakeLists.txt
  tools/pnnx/src/pass_level2/F_batch_norm.cpp
  tools/pnnx/src/pass_level5.cpp
  tools/pnnx/src/pass_level5/fuse_silu.cpp
  tools/pnnx/src/pass_level5/fuse_silu.h
Labels: tool, pnnx
