Repository Tencent/ncnn, pull requests merged in 2024-02, with the labels that each got.

#5324 Add draw rectangle, draw text, draw circle, and draw line to C API
  src/c_api.cpp
  src/c_api.h
Labels: core

#5280 disable signal based detectisa if being debugged
  src/cpu.cpp
Labels: core

#5326 fix debug build on some compiler, fix #5295
  src/layer/x86/convolution_3x3_winograd_int8.h
  src/layer/x86/convolution_packed_int8.h
Labels: x86

#5328 fix uwp build
  src/cpu.cpp
Labels: core

#5325 promote vfpv4 for auto fp16 storage conversion
  src/cpu.cpp
  src/net.cpp
  tests/testutil.cpp
Labels: core, test

#5331 build universal pnnx wheel and pnnx entrypoint script
  .ci/pnnx.yml
  .gitignore
  tools/pnnx/python/README.md
  tools/pnnx/python/pnnx/__init__.py
  tools/pnnx/python/setup.py
  tools/pnnx/python/setup.py.i
Labels: tool, pnnx

#5339 Some typo fixes
  docs/faq.en.md
  docs/how-to-use-and-FAQ/FAQ-ncnn-vulkan.md
Labels: doc

#5341 ruapu cpu isa detection
  codeformat.sh
  src/cpu.cpp
  src/ruapu.h
Labels: core

#5342 fix dual issue document
  docs/developer-guide/arm-a53-a55-dual-issue.md
Labels: doc

#5346 Fix build error with NCNN_PIXEL_DRAWING off
  src/c_api.cpp
  src/c_api.h
Labels: core

#5345 update yolov8.py
  python/ncnn/model_zoo/yolov8.py
Labels: python

#5348 split load torchscript sources from pnnx, drop cxxabi hack, link torchscript with whole-archive
  tools/pnnx/CMakeLists.txt
  tools/pnnx/src/CMakeLists.txt
  tools/pnnx/src/ir.cpp
  tools/pnnx/src/ir.h
  tools/pnnx/src/load_torchscript.cpp
  tools/pnnx/src/load_torchscript.h
  tools/pnnx/src/main.cpp
  tools/pnnx/src/onnx.proto
  tools/pnnx/src/pass_level2/torch_permute.cpp
  tools/pnnx/src/pass_level2/torch_repeat_interleave.cpp
  tools/pnnx/src/pass_level5/fuse_layernorm.cpp
  tools/pnnx/src/pass_level5/fuse_scaled_dot_product_attention.cpp
  tools/pnnx/src/save_onnx.cpp
  tools/pnnx/src/save_onnx_cxxabi_bridge.cpp
  tools/pnnx/src/utils.cpp
  tools/pnnx/src/utils.h
Labels: tool, pnnx
