Repository Tencent/ncnn, pull requests merged in 2024-12, with the labels that each got.

#5811 remove support for arm32
  .github/workflows/release.yml
  .github/workflows/windows-arm.yml
  python/tests/benchmark.py
Labels: python

#5814 skip unaryop round halfway cases for powerpc
  tests/test_unaryop.cpp
Labels: test

#5827 use optional compile flags only when runtime cpu is on
  cmake/ncnn_add_layer.cmake
Labels: cmake

#5826 pnnx ncnn convert select to crop and squeeze
  tools/pnnx/src/pass_ncnn/convert_Tensor_select.cpp
Labels: tool, pnnx

#5825 pnnx auto inputshape from traced inputs
  tools/pnnx/src/load_torchscript.cpp
  tools/pnnx/tests/test_convnext_tiny.py
  tools/pnnx/tests/test_mobilenet_v2.py
  tools/pnnx/tests/test_mobilenet_v3_small.py
  tools/pnnx/tests/test_resnet18.py
  tools/pnnx/tests/test_shufflenet_v2_x1_0.py
  tools/pnnx/tests/test_squeezenet1_1.py
  tools/pnnx/tests/test_swin_t.py
  tools/pnnx/tests/test_vit_b_32.py
Labels: tool, pnnx

#5828 pnnx build silent warnings from torch header
  tools/pnnx/CMakeLists.txt
Labels: tool, pnnx

#5832 pnnx match onnx zeros ones
  tools/pnnx/src/pass_level2/torch_full.cpp
  tools/pnnx/src/pass_level2/torch_ones.cpp
  tools/pnnx/src/pass_level2/torch_zeros.cpp
Labels: tool, pnnx

#5831 Rename _export() to export()
  tools/pnnx/src/ir.cpp
Labels: tool, pnnx

#5834 pnnx fix onnx clip conversion, add onnx clamp test, always reserve onnx split outputs, convert onnx mod
  tools/pnnx/src/pass_level2/torch_clamp.cpp
  tools/pnnx/src/pass_onnx.cpp
  tools/pnnx/src/pass_onnx/dead_code_elimination.cpp
  tools/pnnx/src/pass_onnx/fuse_constant_as_attribute.cpp
  tools/pnnx/tests/onnx/CMakeLists.txt
  tools/pnnx/tests/onnx/test_torch_clamp.py
Labels: tool, pnnx

#5838 pnnx fix macos and windows build, add quick test ci
  .github/workflows/pnnx.yml
  tools/pnnx/CMakeLists.txt
  tools/pnnx/src/CMakeLists.txt
  tools/pnnx/src/pass_ncnn/torch_istft.cpp
  tools/pnnx/src/pass_ncnn/torch_stft.cpp
  tools/pnnx/src/pass_ncnn/torchaudio_F_inverse_spectrogram.cpp
  tools/pnnx/src/pass_ncnn/torchaudio_F_spectrogram.cpp
Labels: tool, pnnx

#5842 fix clang avx512bf16 build
  CMakeLists.txt
  src/layer/x86/gemm_int8.h
  src/layer/x86/x86_usability.h
Labels: x86

#5846 fix ci woa test, disable woa svml optimization
  src/CMakeLists.txt
Labels: core, layer

#5847 define empty assertion termination function for fixing linking with old android ndk
  CMakeLists.txt
  cmake/glslang_drop_ostream.cmake
Labels: core, cmake

#5850 add riscv xuantie c908 ci
  .github/workflows/linux-riscv64.yml
  toolchains/c908-v301.toolchain.cmake
Labels: cmake

#5852 add riscv spacemit x60 ci
  .github/workflows/linux-riscv64.yml
  toolchains/k1.llvm.toolchain.cmake
  toolchains/k1.toolchain.cmake
Labels: cmake

#5854 Revert "define empty assertion termination function for fixing linking with old android ndk (#5847)
  CMakeLists.txt
  cmake/glslang_drop_ostream.cmake
Labels: cmake
