Repository Tencent/ncnn, pull requests merged in 2024-03, with the labels that each got.

#5350 fix out of index access on pattern match failure, fix #5347
  tools/pnnx/src/pass_level2.cpp
  tools/pnnx/src/pass_ncnn/solve_batch_index.cpp
Labels: tool, pnnx

#5353 Fix `destroy_gpu_instance` crash
  src/gpu.cpp
Labels: core

#5359 Add implementation of build for protobuf>=22.0 on Windows
  docs/how-to-build/how-to-build.md
Labels: doc

#5365 Update convolution_im2col_gemm_int8.h
  src/layer/x86/convolution_im2col_gemm_int8.h
Labels: x86

#5370 Support LLVM OpenMP runtime for MSVC
  src/cpu.cpp
Labels: core

#5375 fix pnnx convert torch.stack negative dim
  tools/pnnx/src/pass_ncnn/convert_torch_stack.cpp
  tools/pnnx/tests/ncnn/test_torch_stack.py
  tools/pnnx/tests/test_torch_stack.py
Labels: tool, pnnx

#5377 pnnx convert torch.slice_scatter
  tools/pnnx/src/CMakeLists.txt
  tools/pnnx/src/pass_level2/torch_slice_scatter.cpp
  tools/pnnx/src/pass_ncnn/torch_slice_scatter.cpp
  tools/pnnx/tests/CMakeLists.txt
  tools/pnnx/tests/ncnn/CMakeLists.txt
  tools/pnnx/tests/ncnn/test_torch_slice_scatter.py
  tools/pnnx/tests/test_torch_slice_scatter.py
Labels: tool, pnnx

#5380 pnnx fuse static embedding
  tools/pnnx/src/CMakeLists.txt
  tools/pnnx/src/pass_level5.cpp
  tools/pnnx/src/pass_level5/fuse_static_embedding.cpp
  tools/pnnx/src/pass_level5/fuse_static_embedding.h
Labels: tool, pnnx

#5363 pnnx load dynamo onnx
  .ci/pnnx.yml
  tools/pnnx/CMakeLists.txt
  tools/pnnx/src/CMakeLists.txt
  tools/pnnx/src/ir.cpp
  tools/pnnx/src/ir.h
  tools/pnnx/src/load_onnx.cpp
  tools/pnnx/src/load_onnx.h
  tools/pnnx/src/pass_level2/F_avg_pool2d.cpp
  tools/pnnx/src/pass_level2/F_conv3d.cpp
  tools/pnnx/src/pass_level2/F_layer_norm.cpp
  tools/pnnx/src/pass_level2/F_max_pool2d.cpp
  tools/pnnx/src/pass_level2/F_pad.cpp
  tools/pnnx/src/pass_level2/F_softmax.cpp
  tools/pnnx/src/pass_level2/Tensor_copy.cpp
  tools/pnnx/src/pass_level2/Tensor_expand.cpp
  tools/pnnx/src/pass_level2/Tensor_select.cpp
  tools/pnnx/src/pass_level2/torch_addmm.cpp
  tools/pnnx/src/pass_level2/torch_cat.cpp
  tools/pnnx/src/pass_level2/torch_clone.cpp
  tools/pnnx/src/pass_level2/torch_mean.cpp
  tools/pnnx/src/pass_level2/torch_permute.cpp
  tools/pnnx/src/pass_level2/torch_roll.cpp
  tools/pnnx/src/pass_level2/torch_split.cpp
  tools/pnnx/src/pass_level2/torch_squeeze.cpp
  tools/pnnx/src/pass_level2/torch_unbind.cpp
  tools/pnnx/src/pass_level2/torch_unsqueeze.cpp
  tools/pnnx/src/pass_ncnn/nn_GELU.cpp
  tools/pnnx/src/pass_onnx.cpp
  tools/pnnx/src/pass_onnx.h
  tools/pnnx/src/pass_onnx/canonicalize.cpp
  tools/pnnx/src/pass_onnx/canonicalize.h
  tools/pnnx/src/pass_onnx/dead_code_elimination.cpp
  tools/pnnx/src/pass_onnx/dead_code_elimination.h
  tools/pnnx/src/pass_onnx/eliminate_noop.cpp
  tools/pnnx/src/pass_onnx/eliminate_noop.h
  tools/pnnx/src/pass_onnx/fold_constants.cpp
  tools/pnnx/src/pass_onnx/fold_constants.h
  tools/pnnx/src/pass_onnx/inline_containers.cpp
  tools/pnnx/src/pass_onnx/inline_containers.h
  tools/pnnx/src/pass_onnx/model_stat.cpp
  tools/pnnx/src/pass_onnx/model_stat.h
  tools/pnnx/src/pass_onnx/nn_AdaptiveAvgPool2d.cpp
  tools/pnnx/src/pass_onnx/nn_AdaptiveAvgPool3d.cpp
  tools/pnnx/src/pass_onnx/nn_AvgPool2d.cpp
  tools/pnnx/src/pass_onnx/nn_AvgPool3d.cpp
  tools/pnnx/src/pass_onnx/nn_BatchNorm2d.cpp
  tools/pnnx/src/pass_onnx/nn_BatchNorm3d.cpp
  tools/pnnx/src/pass_onnx/nn_Conv2d.cpp
  tools/pnnx/src/pass_onnx/nn_Conv3d.cpp
  tools/pnnx/src/pass_onnx/nn_GELU.cpp
  tools/pnnx/src/pass_onnx/nn_LayerNorm.cpp
  tools/pnnx/src/pass_onnx/nn_Linear.cpp
  tools/pnnx/src/pass_onnx/nn_MaxPool2d.cpp
  tools/pnnx/src/pass_onnx/nn_MaxPool3d.cpp
  tools/pnnx/src/pass_onnx/nn_MultiheadAttention.cpp
  tools/pnnx/src/pass_onnx/shape_inference.cpp
  tools/pnnx/src/pass_onnx/shape_inference.h
Labels: tool, pnnx

#5382 pnnx fix some undefined dtype
  tools/pnnx/src/pass_level2/Tensor_new_empty.cpp
  tools/pnnx/src/pass_level2/Tensor_new_ones.cpp
  tools/pnnx/src/pass_level2/Tensor_new_zeros.cpp
  tools/pnnx/src/pass_level2/Tensor_to.cpp
  tools/pnnx/src/pass_level2/torch_empty.cpp
  tools/pnnx/src/pass_level2/torch_empty_like.cpp
  tools/pnnx/src/pass_level2/torch_full.cpp
  tools/pnnx/src/pass_level2/torch_full_like.cpp
  tools/pnnx/src/pass_level2/torch_ones.cpp
  tools/pnnx/src/pass_level2/torch_ones_like.cpp
  tools/pnnx/src/pass_level2/torch_randn.cpp
  tools/pnnx/src/pass_level2/torch_randn_like.cpp
  tools/pnnx/src/pass_level2/torch_zeros.cpp
  tools/pnnx/src/pass_level2/torch_zeros_like.cpp
Labels: tool, pnnx

#5387 pnnx enhance functionize
  src/layer/convolutiondepthwise1d.cpp
  tools/pnnx/src/pass_level2.cpp
  tools/pnnx/src/pass_level5/fuse_slice_copy.cpp
  tools/pnnx/src/pass_level5/fuse_slice_indices.cpp
  tools/pnnx/src/pass_ncnn/F_conv1d.cpp
  tools/pnnx/src/pass_ncnn/convert_Tensor_slice.cpp
  tools/pnnx/src/pass_ncnn/convert_Tensor_slice_copy.cpp
  tools/pnnx/tests/ncnn/test_Tensor_slice_copy.py
  tools/pnnx/tests/test_Tensor_slice_copy.py
Labels: tool, pnnx, layer

#5389 Update how-to-build.md
  docs/how-to-build/how-to-build.md
Labels: doc

#5393 fix softmax arm fp16s sum error, fix #5340
  src/layer/arm/softmax_arm_asimdhp.cpp
Labels: arm

#5391 fix riscv v build with old cpp standard, fix #5366
  src/layer/riscv/rvv_mathfun.h
Labels: riscv
