Repository Tencent/ncnn, pull requests merged in 2025-08, with the labels that each got.

#6232 pnnx ncnn handles squeeze/unsqueeze the batch index
  tools/pnnx/src/pass_ncnn/solve_batch_index.cpp
Labels: tool, pnnx

#6254 esp32 build doc: advise not running install.sh with sudo
  docs/how-to-build/how-to-build.md
Labels: doc

#6243 Add shuffle channel rvv optimization
  src/layer/riscv/shufflechannel_riscv.cpp
  src/layer/riscv/shufflechannel_riscv.h
Labels: riscv

#6260 pnnx match more pad-conv patterns, fix ops out of index crash in fuse_constantlist
  tools/pnnx/src/pass_level2/fuse_constantlist.cpp
  tools/pnnx/src/pass_level5/fuse_pad_conv1d.cpp
  tools/pnnx/src/pass_level5/fuse_pad_conv2d.cpp
  tools/pnnx/tests/test_pnnx_fuse_pad_conv1d.py
  tools/pnnx/tests/test_pnnx_fuse_pad_conv2d.py
Labels: tool, pnnx

#6261 add piper tts example
  examples/CMakeLists.txt
  examples/piper.cpp
Labels: example

#6280 add support for riscv32+rvv1.0 (rv32 and rv64ilp32) with c907 support
  .github/workflows/elf-riscv32.yml
  .github/workflows/linux-riscv32.yml
  .github/workflows/linux-riscv64.yml
  CMakeLists.txt
  cmake/ncnn_add_layer.cmake
  src/CMakeLists.txt
  toolchains/c907-rv32-v310.toolchain.cmake
  toolchains/c907-v310.toolchain.cmake
Labels: core, cmake
