Repository Tencent/ncnn, pull requests merged in 2025-04, with the labels that each got.

#5965 pnnx convert onnx conv with asymmatric pads
  tools/pnnx/src/CMakeLists.txt
  tools/pnnx/src/pass_level2/F_conv1d.cpp
  tools/pnnx/src/pass_level2/F_conv2d.cpp
  tools/pnnx/src/pass_level2/F_conv3d.cpp
  tools/pnnx/src/pass_ncnn.cpp
  tools/pnnx/src/pass_ncnn/fuse_convolution1d_activation.cpp
  tools/pnnx/src/pass_ncnn/fuse_convolution_activation.cpp
  tools/pnnx/src/pass_ncnn/fuse_convolutiondepthwise1d_activation.cpp
  tools/pnnx/src/pass_ncnn/fuse_convolutiondepthwise_activation.cpp
  tools/pnnx/src/pass_ncnn/fuse_deconvolution_activation.cpp
  tools/pnnx/src/pass_ncnn/fuse_deconvolutiondepthwise_activation.cpp
  tools/pnnx/src/pass_ncnn/fuse_innerproduct_activation.cpp
  tools/pnnx/src/pass_ncnn/fuse_padding_convolution.cpp
  tools/pnnx/src/pass_ncnn/fuse_padding_convolution.h
  tools/pnnx/src/pass_ncnn/fuse_padding_convolutiondepthwise.cpp
  tools/pnnx/src/pass_ncnn/fuse_padding_convolutiondepthwise.h
  tools/pnnx/tests/ncnn/CMakeLists.txt
  tools/pnnx/tests/ncnn/test_ncnn_fuse_pad_conv.py
  tools/pnnx/tests/onnx/test_F_conv1d.py
  tools/pnnx/tests/onnx/test_F_conv2d.py
  tools/pnnx/tests/onnx/test_F_conv3d.py
  tools/pnnx/tests/onnx/test_nn_Conv1d.py
  tools/pnnx/tests/onnx/test_nn_Conv2d.py
  tools/pnnx/tests/onnx/test_nn_Conv3d.py
Labels: tool, pnnx

#5967 pnnx convert onnx depth2space, add pixelshuffle pixelunshuffle test
  tools/pnnx/src/pass_level2/F_pixel_shuffle.cpp
  tools/pnnx/tests/onnx/CMakeLists.txt
  tools/pnnx/tests/onnx/test_F_pixel_shuffle.py
  tools/pnnx/tests/onnx/test_F_pixel_unshuffle.py
  tools/pnnx/tests/onnx/test_nn_PixelShuffle.py
  tools/pnnx/tests/onnx/test_nn_PixelUnshuffle.py
Labels: tool, pnnx

#5971 fix riscv ci c906/c908/c910/k1 static linking
  .github/workflows/linux-riscv64.yml
  CMakeLists.txt
  toolchains/c906-v301.toolchain.cmake
  toolchains/c908-v301.toolchain.cmake
  toolchains/c910-v301.toolchain.cmake
  toolchains/k1.llvm.toolchain.cmake
  toolchains/k1.toolchain.cmake
Labels: cmake

#5972 update pnnx ci with torch 2.6
  .ci/pnnx.yml
  tools/pnnx/tests/onnx/test_F_relu.py
  tools/pnnx/tests/onnx/test_convnext_tiny.py
  tools/pnnx/tests/onnx/test_mobilenet_v2.py
  tools/pnnx/tests/onnx/test_mobilenet_v3_small.py
  tools/pnnx/tests/onnx/test_nn_ReLU.py
  tools/pnnx/tests/onnx/test_resnet18.py
  tools/pnnx/tests/onnx/test_shufflenet_v2_x1_0.py
  tools/pnnx/tests/onnx/test_squeezenet1_1.py
  tools/pnnx/tests/onnx/test_swin_t.py
  tools/pnnx/tests/onnx/test_vit_b_32.py
Labels: tool, pnnx

#5973 option owns vulkan device index
  src/gpu.cpp
  src/gpu.h
  src/net.cpp
  src/option.cpp
  src/option.h
Labels: core

#5975 drop ncnn glsl string literal macros
  src/gpu.cpp
Labels: core

#5981 post comment when code-format does not work
  .github/workflows/code-format.yml
Labels: core

#5986 guard VK_USE_PLATFORM_ANDROID_KHR with ifdef
  src/platform.h.in
Labels: core

#5987 pnnx convert onnx globalavgpool, add onnx adaptive avg/max pool test
  tools/pnnx/src/pass_level2/F_adaptive_avg_pool1d.cpp
  tools/pnnx/src/pass_level2/F_adaptive_avg_pool3d.cpp
  tools/pnnx/tests/onnx/CMakeLists.txt
  tools/pnnx/tests/onnx/test_F_adaptive_avg_pool1d.py
  tools/pnnx/tests/onnx/test_F_adaptive_avg_pool2d.py
  tools/pnnx/tests/onnx/test_F_adaptive_avg_pool3d.py
  tools/pnnx/tests/onnx/test_F_adaptive_max_pool1d.py
  tools/pnnx/tests/onnx/test_F_adaptive_max_pool2d.py
  tools/pnnx/tests/onnx/test_F_adaptive_max_pool3d.py
  tools/pnnx/tests/onnx/test_nn_AdaptiveAvgPool1d.py
  tools/pnnx/tests/onnx/test_nn_AdaptiveAvgPool2d.py
  tools/pnnx/tests/onnx/test_nn_AdaptiveAvgPool3d.py
  tools/pnnx/tests/onnx/test_nn_AdaptiveMaxPool1d.py
  tools/pnnx/tests/onnx/test_nn_AdaptiveMaxPool2d.py
  tools/pnnx/tests/onnx/test_nn_AdaptiveMaxPool3d.py
Labels: tool, pnnx

#5988 pnnx convert onnx reducel1 reducel2, add onnx norm test
  tools/pnnx/src/pass_level2/F_normalize.cpp
  tools/pnnx/src/pass_level2/torch_norm.cpp
  tools/pnnx/tests/onnx/CMakeLists.txt
  tools/pnnx/tests/onnx/test_F_normalize.py
  tools/pnnx/tests/onnx/test_torch_norm.py
Labels: tool, pnnx

#5992 add eltwise_riscv
  src/layer/riscv/eltwise_riscv.cpp
  src/layer/riscv/eltwise_riscv.h
  src/layer/riscv/eltwise_riscv_zfh.cpp
Labels: riscv

#5995 fix convolution int8 im2col gemm on tiny l2 cache size, update ci native linux aarch64 and windows arm64
  .github/workflows/code-format.yml
  .github/workflows/esp32.yml
  .github/workflows/linux-aarch64.yml
  .github/workflows/linux-arm.yml
  .github/workflows/linux-mips.yml
  .github/workflows/linux-mips64.yml
  .github/workflows/linux-ppc64.yml
  .github/workflows/linux-riscv64.yml
  .github/workflows/linux-x64-cpu-gcc.yml
  .github/workflows/linux-x64-gpu-gcc.yml
  .github/workflows/release-python.yml
  .github/workflows/release.yml
  .github/workflows/windows-arm.yml
  src/layer/arm/convolution_im2col_gemm_int8.h
  src/layer/x86/convolution_im2col_gemm_int8.h
Labels: core, test, arm, x86

#5994 interp output size expression
  docs/developer-guide/operators.md
  src/layer/arm/interp_arm.cpp
  src/layer/arm/interp_arm_asimdhp.cpp
  src/layer/interp.cpp
  src/layer/interp.h
  src/layer/loongarch/interp_loongarch.cpp
  src/layer/mips/interp_mips.cpp
  src/layer/riscv/interp_riscv.cpp
  src/layer/riscv/interp_riscv_zfh.cpp
  src/layer/vulkan/interp_vulkan.cpp
  src/layer/x86/interp_x86.cpp
  tests/test_interp_1.cpp
  tests/test_reshape_1.cpp
  tools/modelwriter.h
  tools/pnnx/src/CMakeLists.txt
  tools/pnnx/src/pass_ncnn.cpp
  tools/pnnx/src/pass_ncnn/convert_reshape_interp_expression.cpp
  tools/pnnx/src/pass_ncnn/convert_reshape_interp_expression.h
  tools/pnnx/tests/ncnn/CMakeLists.txt
  tools/pnnx/tests/ncnn/test_ncnn_interp_expr.py
Labels: riscv, tool, pnnx, vulkan, test, layer, arm, loongarch, mips, x86, doc

#5999 pnnx ncnn gelu fast mode
  src/layer/interp.cpp
  tests/test_interp_1.cpp
  tools/pnnx/src/pass_level1/nn_GELU.cpp
  tools/pnnx/src/pass_ncnn/F_gelu.cpp
  tools/pnnx/src/pass_ncnn/nn_GELU.cpp
  tools/pnnx/tests/ncnn/test_F_gelu.py
  tools/pnnx/tests/ncnn/test_nn_GELU.py
Labels: tool, pnnx, test, layer

#6000 pnnx ncnn handle optional sdpa scale param
  tools/pnnx/src/pass_ncnn/F_scaled_dot_product_attention.cpp
Labels: tool, pnnx

#6002 reset extractor local vulkan allocator on clear()
  src/net.cpp
Labels: core

#6003 glsl define ncnn_glsl_version macro
  docs/developer-guide/glsl-extension.md
  src/gpu.cpp
Labels: core, doc

#6005 add bnll_riscv
  src/layer/riscv/bnll_riscv.cpp
  src/layer/riscv/bnll_riscv.h
  src/layer/riscv/bnll_riscv_zfh.cpp
Labels: riscv

#6004 pnnx fuse wav2vec2 style mha
  tools/pnnx/src/pass_level5/fuse_multiheadattention.cpp
Labels: tool, pnnx

#6009 set openmp env to disable openmp affinity capability and allow multiple openmp runtime
  src/CMakeLists.txt
  src/cpu.cpp
Labels: core

#6010 fix pnnx fuse static conv bias shape mismatch
  tools/pnnx/src/pass_level5/fuse_static_conv.cpp
Labels: tool, pnnx

#6012 pnnx ncnn handle batch index changes from squeeze and unsqueeze
  tools/pnnx/src/pass_ncnn/solve_batch_index.cpp
Labels: tool, pnnx

#6013 Add celu_riscv
  src/layer/riscv/celu_riscv.cpp
  src/layer/riscv/celu_riscv.h
  src/layer/riscv/celu_riscv_zfh.cpp
Labels: riscv

#6017 pnnx fix instancenorm num features
  tools/pnnx/src/pass_level1/nn_InstanceNorm2d.cpp
  tools/pnnx/src/pass_level1/nn_InstanceNorm3d.cpp
Labels: tool, pnnx

#6020 ci release python add armv7l wheel, use native linux-aarch64 host, fix sdist build, build parallel by default, drop s390x and ppcle64 wheel
  .github/workflows/release-python.yml
  MANIFEST.in
  python/setup.py.i
  setup.py
Labels: python

#6021 fix pnnx ncnn resolve reshape batch index
  tools/pnnx/src/pass_ncnn/Tensor_reshape.cpp
  tools/pnnx/src/pass_ncnn/Tensor_view.cpp
  tools/pnnx/src/pass_ncnn/solve_batch_index.cpp
  tools/pnnx/tests/ncnn/CMakeLists.txt
  tools/pnnx/tests/ncnn/test_ncnn_solve_batch_index.py
Labels: tool, pnnx

#5953 workaround vulkan padding stall with new nvidia driver
  src/layer/vulkan/shader/padding_pack1to4.comp
  src/layer/vulkan/shader/padding_pack1to8.comp
Labels: vulkan

#6024 fix build for mips loongarch risc-v with simplemath
  src/layer/loongarch/binaryop_loongarch.cpp
  src/layer/loongarch/lsx_mathfun.h
  src/layer/loongarch/mish_loongarch.cpp
  src/layer/loongarch/sigmoid_loongarch.cpp
  src/layer/loongarch/softmax_loongarch.cpp
  src/layer/loongarch/swish_loongarch.cpp
  src/layer/loongarch/tanh_loongarch.cpp
  src/layer/loongarch/unaryop_loongarch.cpp
  src/layer/mips/binaryop_mips.cpp
  src/layer/mips/mish_mips.cpp
  src/layer/mips/msa_mathfun.h
  src/layer/mips/sigmoid_mips.cpp
  src/layer/mips/softmax_mips.cpp
  src/layer/mips/swish_mips.cpp
  src/layer/mips/tanh_mips.cpp
  src/layer/mips/unaryop_mips.cpp
  src/layer/riscv/binaryop_riscv.cpp
  src/layer/riscv/binaryop_riscv_zfh.cpp
  src/layer/riscv/gru_riscv.cpp
  src/layer/riscv/gru_riscv_zfh.cpp
  src/layer/riscv/mish_riscv.cpp
  src/layer/riscv/mish_riscv_zfh.cpp
  src/layer/riscv/rvv_mathfun.h
  src/layer/riscv/rvv_mathfun_fp16s.h
  src/layer/riscv/sigmoid_riscv.cpp
  src/layer/riscv/sigmoid_riscv_zfh.cpp
  src/layer/riscv/swish_riscv.cpp
  src/layer/riscv/swish_riscv_zfh.cpp
  src/layer/riscv/tanh_riscv.cpp
  src/layer/riscv/tanh_riscv_zfh.cpp
  src/layer/riscv/unaryop_riscv_zfh.cpp
Labels: riscv, loongarch, mips

#6026 add apple a18 and m4 family types
  src/cpu.cpp
Labels: core

#6025 Add bias_riscv
  src/layer/riscv/bias_riscv.cpp
  src/layer/riscv/bias_riscv.h
  src/layer/riscv/bias_riscv_zfh.cpp
Labels: riscv

#6028 pnnx test_inference with torch.no_grad()
  tools/pnnx/src/ir.cpp
  tools/pnnx/tests/onnx/test_nn_LSTM.py
  tools/pnnx/tests/onnx/test_swin_t.py
  tools/pnnx/tests/test_nn_LSTM.py
  tools/pnnx/tests/test_pnnx_fuse_multiheadattention.py
  tools/pnnx/tests/test_swin_t.py
Labels: tool, pnnx

#6029 fix shader compile failure on nvidia
  src/layer/vulkan/shader/padding_pack1to4.comp
  src/layer/vulkan/shader/padding_pack1to8.comp
Labels: vulkan

#6032 pnnx ncnn adjust dynamic slice axes for dropping batch index
  tools/pnnx/src/pass_ncnn/convert_slice_expression.cpp
Labels: tool, pnnx

#6030 update rvm example
  examples/rvm.cpp
Labels: example
