Repository Tencent/ncnn, pull requests merged in 2025-05, with the labels that each got.

#6034 fix vulkan driver blacklist
  src/gpu.cpp
Labels: core

#6037 add yolo11 examples
  examples/CMakeLists.txt
  examples/yolo11.cpp
  examples/yolo11_cls.cpp
  examples/yolo11_obb.cpp
  examples/yolo11_pose.cpp
  examples/yolo11_seg.cpp
Labels: example

#6038 fix x86 conv int8 avx512vnni crash
  src/layer/x86/convolution_im2col_gemm_int8.h
Labels: x86

#6040 update test-coverage ci
  .ci/test-coverage.yml
  .github/workflows/test-coverage.yml
  toolchains/loongarch64-linux-gnu.toolchain.cmake
Labels: cmake

#6043 add yoloworld example
  examples/CMakeLists.txt
  examples/yoloworld.cpp
Labels: example

#6047 fix subgroup min max size without subgroup size control extension
  src/gpu.cpp
Labels: core

#6048 update pnnx ci
  .ci/pnnx.yml
  .github/workflows/pnnx.yml
  tools/pnnx/tests/ncnn/CMakeLists.txt
Labels: tool, pnnx

#6049 limit pnnx onnxruntime threads by OMP_THREAD_LIMIT env
  .github/workflows/pnnx.yml
  tools/pnnx/src/pass_onnx/fold_constants.cpp
  tools/pnnx/src/pass_onnx/shape_inference.cpp
Labels: tool, pnnx

#6059 clip x86 avx512 mask optimization
  src/layer/x86/clip_x86.cpp
Labels: x86

#6067 gpu info query cooperative matrix properties
  src/gpu.cpp
  src/gpu.h
Labels: core

#6068 discover VK_KHR_shader_float_controls2
  src/gpu.cpp
  src/gpu.h
  src/vulkan_header_fix.h
Labels: core

#6069 pnnx add torch logical ops test
  .github/workflows/pnnx.yml
  tools/pnnx/tests/CMakeLists.txt
  tools/pnnx/tests/onnx/CMakeLists.txt
  tools/pnnx/tests/onnx/test_torch_logical_and.py
  tools/pnnx/tests/onnx/test_torch_logical_not.py
  tools/pnnx/tests/onnx/test_torch_logical_or.py
  tools/pnnx/tests/onnx/test_torch_logical_xor.py
  tools/pnnx/tests/test_torch_logical_and.py
  tools/pnnx/tests/test_torch_logical_not.py
  tools/pnnx/tests/test_torch_logical_or.py
  tools/pnnx/tests/test_torch_logical_xor.py
Labels: tool, pnnx

#6072 pnnx transformers update part2
  .github/workflows/pnnx.yml
  tools/pnnx/src/CMakeLists.txt
  tools/pnnx/src/pass_level5.cpp
  tools/pnnx/src/pass_level5/fuse_multiheadattention_sameqkv.cpp
  tools/pnnx/src/pass_level5/fuse_multiheadattention_sameqkv.h
  tools/pnnx/src/pass_level5/fuse_transformers_multiheadattention.cpp
  tools/pnnx/tests/onnx/test_transformers_clip_attention.py
  tools/pnnx/tests/test_transformers_clip_attention.py
Labels: tool, pnnx

#6080 pnnx set windows codepage utf8
  tools/pnnx/src/main.cpp
Labels: tool, pnnx

#6089 pnnx convert onnx MaxPool auto_pad same, torch reshape_as
  tools/pnnx/src/CMakeLists.txt
  tools/pnnx/src/pass_level2.cpp
  tools/pnnx/src/pass_level2/F_max_pool1d.cpp
  tools/pnnx/src/pass_level2/F_max_pool2d.cpp
  tools/pnnx/src/pass_level2/F_max_pool3d.cpp
  tools/pnnx/src/pass_level2/Tensor_reshape_as.cpp
  tools/pnnx/src/pass_ncnn/Tensor_reshape_as.cpp
  tools/pnnx/tests/CMakeLists.txt
  tools/pnnx/tests/ncnn/CMakeLists.txt
  tools/pnnx/tests/ncnn/test_Tensor_reshape_as.py
  tools/pnnx/tests/onnx/CMakeLists.txt
  tools/pnnx/tests/onnx/test_Tensor_reshape_as.py
  tools/pnnx/tests/test_Tensor_reshape_as.py
Labels: tool, pnnx

#6095 pnnx generate test_inference with valid input shapes anyway
  tools/pnnx/src/ir.cpp
  tools/pnnx/src/ir.h
  tools/pnnx/src/main.cpp
  tools/pnnx/src/save_ncnn.cpp
  tools/pnnx/src/save_ncnn.h
Labels: tool, pnnx

#6096 tanh avx512 mask optimization
  src/layer/x86/tanh_x86.cpp
Labels: x86

#6098 unaryop avx512 mask optimization
  src/layer/x86/unaryop_x86.cpp
Labels: x86
