Repository Tencent/ncnn, pull requests merged in 2025-07, with the labels that each got.

#6162 docs: update Chinese glsl-extension documentation
  docs/developer-guide/glsl-extension.md
  docs/developer-guide/glsl-extension.zh.md
  src/gpu.cpp
Labels: core, doc

#6163 Add Loongarch LASX optimization
  src/layer/loongarch/lasx_mathfun.h
  src/layer/loongarch/loongarch_usability.h
  src/layer/loongarch/lsx_mathfun.h
  src/layer/loongarch/sigmoid_loongarch.cpp
Labels: loongarch

#6167 fix vulkan absval fp16
  src/layer/vulkan/absval_vulkan.cpp
  src/mat.cpp
  src/mat.h
  tests/test_absval.cpp
Labels: core, vulkan, test

#6169 Fix win32 GetLogicalProcessorInformationEx API
  src/cpu.cpp
Labels: core

#6165 feat: add cmake print ver support
  cmake/ncnnConfig.cmake.in
  src/CMakeLists.txt
Labels: core, cmake

#6179 vulkan unaryop unified elempack shader
  src/layer/vulkan/shader/unaryop.comp
  src/layer/vulkan/shader/unaryop_pack4.comp
  src/layer/vulkan/shader/unaryop_pack8.comp
  src/layer/vulkan/unaryop_vulkan.cpp
  src/layer/vulkan/unaryop_vulkan.h
Labels: vulkan

#6154 flexible coopmat mnk and unified elempack for vulkan convolution 1x1s1d1
  src/gpu.cpp
  src/gpu.h
  src/layer/vulkan/convolution_vulkan.cpp
  src/layer/vulkan/convolution_vulkan.h
  src/layer/vulkan/shader/convolution_1x1s1d1_cm.comp
  src/layer/vulkan/shader/convolution_pack4_1x1s1d1_cm_16_16_16.comp
  src/layer/vulkan/shader/convolution_pack4_1x1s1d1_cm_16_8_8.comp
Labels: core, vulkan

#6192 flexible coopmat mnk and unified elempack for vulkan convolution gemm
  src/layer/vulkan/convolution_vulkan.cpp
  src/layer/vulkan/shader/convolution_gemm_cm.comp
  src/layer/vulkan/shader/convolution_pack4_gemm_cm_16_16_16.comp
  src/layer/vulkan/shader/convolution_pack4_gemm_cm_16_8_8.comp
Labels: vulkan

#6205 fix vulkan structure definition conflict with VK_KHR_acceleration_structure
  src/vulkan_header_fix.h
Labels: core

#6208 fix pnnx build on msvc, pnnx ci update torch and onnxruntime
  .github/workflows/pnnx.yml
  tools/pnnx/src/load_onnx.cpp
  tools/pnnx/src/pass_level1/fuse_module_pass.h
Labels: tool, pnnx
