Repository Tencent/ncnn, pull requests merged in 2025-06, with the labels that each got.

#6101 Switch to putenv to fix compilation with llvm-mingw
  src/cpu.cpp
Labels: core

#6105 simplify c layernorm
  src/layer/layernorm.cpp
Labels: layer

#6106 x86 unified elempack optimization for groupnorm, simplify c groupnorm
  src/layer/groupnorm.cpp
  src/layer/x86/groupnorm_x86.cpp
Labels: layer, x86

#6109 dequantize pack8 for all datatypes, fix convdw int8 dequant pack8
  src/layer/arm/dequantize_arm.cpp
  src/layer/loongarch/dequantize_loongarch.cpp
  src/layer/mips/dequantize_mips.cpp
  src/layer/x86/dequantize_x86.cpp
  tests/test_dequantize.cpp
Labels: test, arm, loongarch, mips, x86

#6111 fix vulkan validation error, do not enforce local_size_x be multiple of subgroup size
  src/gpu.cpp
Labels: core

#6116 unified vulkan khr/nv cooperative matrix shader
  src/gpu.cpp
  src/gpu.h
  src/layer/vulkan/convolution_vulkan.cpp
  src/layer/vulkan/deconvolution_vulkan.cpp
  src/layer/vulkan/shader/convolution_pack4_1x1s1d1_cm_16_16_16.comp
  src/layer/vulkan/shader/convolution_pack4_1x1s1d1_cm_16_8_8.comp
  src/layer/vulkan/shader/convolution_pack4_1x1s1d1_nv_cm_16_16_16.comp
  src/layer/vulkan/shader/convolution_pack4_1x1s1d1_nv_cm_16_8_8.comp
  src/layer/vulkan/shader/convolution_pack4_3x3s1d1_winograd_gemm_cm_16_16_16.comp
  src/layer/vulkan/shader/convolution_pack4_3x3s1d1_winograd_gemm_cm_16_8_8.comp
  src/layer/vulkan/shader/convolution_pack4_3x3s1d1_winograd_gemm_khr_cm_16_16_16.comp
  src/layer/vulkan/shader/convolution_pack4_3x3s1d1_winograd_gemm_khr_cm_16_8_8.comp
  src/layer/vulkan/shader/convolution_pack4_gemm_cm_16_16_16.comp
  src/layer/vulkan/shader/convolution_pack4_gemm_cm_16_8_8.comp
  src/layer/vulkan/shader/convolution_pack4_gemm_nv_cm_16_8_8.comp
  src/layer/vulkan/shader/deconvolution_pack4_gemm_cm_16_16_16.comp
  src/layer/vulkan/shader/deconvolution_pack4_gemm_cm_16_8_8.comp
  src/layer/vulkan/shader/deconvolution_pack4_gemm_khr_cm_16_16_16.comp
  src/layer/vulkan/shader/deconvolution_pack4_gemm_nv_cm_16_16_16.comp
  src/layer/vulkan/shader/deconvolution_pack4_gemm_nv_cm_16_8_8.comp
Labels: core, vulkan

#6117 discover VK_NV_cooperative_vector
  src/gpu.cpp
  src/gpu.h
  src/vulkan_header_fix.h
Labels: core

#6119 add missing macros for VK_NV_cooperative_vector and VK_NV_cooperative_matrix2
  src/gpu.cpp
Labels: core

#6120 discover VK_EXT_shader_float8
  src/gpu.cpp
  src/gpu.h
  src/vulkan_header_fix.h
Labels: core

#6114 print gpu matrix property info
  src/gpu.cpp
Labels: core

#6097 instancenorm x86 simd
  src/layer/x86/instancenorm_x86.cpp
  src/layer/x86/instancenorm_x86.h
Labels: x86

#5841 update ruapu to detect zfh zvfh xtheadvector
  .github/workflows/linux-riscv64.yml
  docs/how-to-build/how-to-build.md
  src/cpu.cpp
  src/layer.cpp
  src/layer/riscv/convolution1d_riscv.cpp
  src/layer/riscv/convolution_riscv.cpp
  src/layer/riscv/convolutiondepthwise_riscv.cpp
  src/layer/riscv/deconvolution_riscv.cpp
  src/layer/riscv/deconvolutiondepthwise_riscv.cpp
  src/ruapu.h
  toolchains/c906-v310.toolchain.cmake
  toolchains/c908-v310.toolchain.cmake
  toolchains/c910-v310.toolchain.cmake
Labels: core, riscv, test, doc, cmake

#6132 vulkan absval unified elempack shader
  src/layer/vulkan/absval_vulkan.cpp
  src/layer/vulkan/absval_vulkan.h
  src/layer/vulkan/shader/absval.comp
  src/layer/vulkan/shader/absval_pack4.comp
  src/layer/vulkan/shader/absval_pack8.comp
Labels: vulkan

#3731 vulkan int8 packing quantize dequantize requantize
  src/allocator.cpp
  src/command.cpp
  src/gpu.cpp
  src/gpu.h
  src/layer/packing.h
  src/layer/vulkan/dequantize_vulkan.cpp
  src/layer/vulkan/dequantize_vulkan.h
  src/layer/vulkan/packing_vulkan.cpp
  src/layer/vulkan/quantize_vulkan.cpp
  src/layer/vulkan/quantize_vulkan.h
  src/layer/vulkan/requantize_vulkan.cpp
  src/layer/vulkan/requantize_vulkan.h
  src/layer/vulkan/shader/dequantize.comp
  src/layer/vulkan/shader/dequantize_pack4.comp
  src/layer/vulkan/shader/dequantize_pack8.comp
  src/layer/vulkan/shader/packing_int8.comp
  src/layer/vulkan/shader/packing_pack1to4_int8.comp
  src/layer/vulkan/shader/packing_pack1to8_int8.comp
  src/layer/vulkan/shader/packing_pack4to1_int8.comp
  src/layer/vulkan/shader/packing_pack4to8_int8.comp
  src/layer/vulkan/shader/packing_pack8to1_int8.comp
  src/layer/vulkan/shader/packing_pack8to4_int8.comp
  src/layer/vulkan/shader/quantize.comp
  src/layer/vulkan/shader/quantize_pack4.comp
  src/layer/vulkan/shader/quantize_pack8.comp
  src/layer/vulkan/shader/requantize.comp
  src/layer/vulkan/shader/requantize_pack4.comp
  src/layer/vulkan/shader/requantize_pack8.comp
  src/net.cpp
  tests/test_dequantize.cpp
  tests/test_packing.cpp
  tests/test_quantize.cpp
  tests/test_quantize_oom.cpp
  tests/testutil.cpp
Labels: core, vulkan, test, layer

#6147 Use platform-specific APIs for environment variables
  src/cpu.cpp
Labels: core

#6131 vulkan compute only
  src/gpu.cpp
  src/gpu.h
Labels: core
