Repository Tencent/ncnn, pull requests merged in 2025-03, with the labels that each got.

#5925 Update license
  tests/test_cpu.cpp
Labels: test

#5927 Support better API to detect big little core in windows after win7
  src/cpu.cpp
  tests/test_cpu.cpp
Labels: core, test

#5881 fix pnnx i64 to i32
  tools/pnnx/src/save_ncnn.cpp
Labels: tool, pnnx

#5930 WIP: add read npy for ncnn2table
  docs/how-to-use-and-FAQ/quantized-int8-inference.md
  tools/quantize/ncnn2table.cpp
  tools/quantize/npy.hpp
Labels: tool, doc

#5884 faq vulkan in docker
  docs/faq.md
Labels: doc

#5940 intergrate VK_EXT_subgroup_size_control features and properties
  src/gpu.cpp
  src/gpu.h
  src/pipeline.cpp
  src/pipeline.h
  src/pipelinecache.cpp
  src/pipelinecache.h
  src/vulkan_header_fix.h
Labels: core

#5946 discover all subgroup features and VK_KHR_shader_subgroup_extended_types
  python/src/main.cpp
  src/gpu.cpp
  src/gpu.h
  src/net.cpp
  src/option.cpp
  src/option.h
Labels: core, python

#5947 discover VK_KHR_zero_initialize_workgroup_memory
  src/gpu.cpp
  src/gpu.h
  src/option.cpp
  src/option.h
Labels: core

#5948 discover VK_KHR_shader_subgroup_rotate
  python/src/main.cpp
  src/gpu.cpp
  src/gpu.h
  src/net.cpp
  src/option.cpp
  src/option.h
  src/vulkan_header_fix.h
Labels: core, python

#5951 Fix get_elf_hwcap always return 0 on HarmonyOS NEXT.
  src/cpu.cpp
Labels: core

#5949 define device feature macros for glslang, discover VK_EXT_shader_atomic_float and VK_EXT_shader_atomic_float2
  python/src/main.cpp
  python/tests/test_option.py
  src/allocator.cpp
  src/gpu.cpp
  src/gpu.h
  src/layer/vulkan/shader/absval.comp
  src/layer/vulkan/shader/absval_pack4.comp
  src/layer/vulkan/shader/absval_pack8.comp
  src/net.cpp
  src/option.cpp
  src/option.h
  src/vulkan_header_fix.h
Labels: core, vulkan, python

#5954 ci update llvmpipe
  .ci/test-coverage.yml
  .github/workflows/test-coverage.yml
  src/gpu.cpp
  src/gpu.h
  src/net.cpp
  tests/testutil.cpp
Labels: core, test

#5955 discover VK_KHR_shader_non_semantic_info, checked convolution imagestore
  .github/workflows/test-coverage.yml
  src/gpu.cpp
  src/gpu.h
  src/layer/vulkan/shader/convolution.comp
  src/layer/vulkan/shader/convolution_pack1to4.comp
  src/layer/vulkan/shader/convolution_pack1to8.comp
  src/layer/vulkan/shader/convolution_pack4.comp
  src/layer/vulkan/shader/convolution_pack4to1.comp
  src/layer/vulkan/shader/convolution_pack4to8.comp
  src/layer/vulkan/shader/convolution_pack8.comp
  src/layer/vulkan/shader/convolution_pack8to1.comp
  src/layer/vulkan/shader/convolution_pack8to4.comp
Labels: core, vulkan

#5961 refactor qnx cmake toolchain files
  docs/how-to-build/how-to-build.md
  toolchains/aarch64-qnx.toolchain.cmake
  toolchains/qnx700.toolchain.cmake
  toolchains/qnx710.toolchain.cmake
Labels: doc, cmake

#5963 vulkan validation layer enables NCNN_LOGE in shader source
  docs/developer-guide/glsl-extension.md
  src/gpu.cpp
Labels: core, doc
