Repository Tencent/ncnn, pull requests merged in 2025-09, with the labels that each got.

#6296 discover VK_EXT_robustness2 and VK_KHR_robustness2, fix hangs with NVIDIA >565 drivers
  src/allocator.cpp
  src/gpu.cpp
  src/gpu.h
  src/vulkan_header_fix.h
Labels: core

#6307 drop deprecated ex.set_num_threads and ex.set_vulkan_compute api
  docs/how-to-use-and-FAQ/vulkan-notes.md
  python/ncnn/model_zoo/fasterrcnn.py
  python/ncnn/model_zoo/mobilenetssd.py
  python/ncnn/model_zoo/mobilenetv2ssdlite.py
  python/ncnn/model_zoo/mobilenetv3ssdlite.py
  python/ncnn/model_zoo/peleenetssd.py
  python/ncnn/model_zoo/retinaface.py
  python/ncnn/model_zoo/rfcn.py
  python/ncnn/model_zoo/shufflenetv2.py
  python/ncnn/model_zoo/simplepose.py
  python/ncnn/model_zoo/squeezenet.py
  python/ncnn/model_zoo/squeezenetssd.py
  python/ncnn/model_zoo/yolov2.py
  python/ncnn/model_zoo/yolov3.py
  python/src/main.cpp
  python/tests/test_extractor.py
  src/c_api.cpp
  src/net.cpp
  src/net.h
Labels: core, doc, python

#6308 pnnx ncnn preserve tail reshape permute
  tools/pnnx/src/CMakeLists.txt
  tools/pnnx/src/pass_ncnn.cpp
  tools/pnnx/src/pass_ncnn/eliminate_tail_reshape_permute.cpp
  tools/pnnx/src/pass_ncnn/eliminate_tail_reshape_permute.h
Labels: tool, pnnx

#6323 Fix #6322
  tools/modelwriter.h
Labels: tool

#6328 pnnx get auto input shapes from onnx model
  tools/pnnx/src/load_onnx.cpp
Labels: tool, pnnx

#6334 pnnx custom float to string conversion
  tools/pnnx/src/ir.cpp
  tools/pnnx/src/pass_level3/fuse_expression.cpp
  tools/pnnx/src/pass_level5/eval_expression.cpp
  tools/pnnx/src/save_ncnn.cpp
  tools/pnnx/src/utils.cpp
  tools/pnnx/src/utils.h
Labels: tool, pnnx

#6331 pnnx fuse whisper style attention
  tools/pnnx/src/pass_level5/fuse_multiheadattention.cpp
Labels: tool, pnnx
